<div class="nav-side-menu">
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
      <li routerLinkActive="active">
        <a routerLink="/home/search" >
          <div >
            <i class="fas fa-search"></i>
            <span class="ml-3">Name Search</span>
          </div>
        </a>
      </li>
      <!--<li routerLinkActive="active">
        <a routerLink="/home/tenders" >
          <i class="far fa-check-square"></i>
          <span class="ml-3">Registration of Tenders</span>
        </a>
      </li> -->
      <li class="parent-menu">
          <a target="_blank" download href="javascript:void(0)">
              <i class="fas fa-info-circle"></i>
            <span class="ml-3">User Guides</span>
          
          </a>
          <ul class="user-guid-list-ul sub-menu">
   
            <li>
              <a target="_blank" download href="{{incorperationGuidURL}}">
              <span class="ml-3">Reservation & Incorporation of a company</span></a>
             
            </li>
            <li>
              <a target="_blank" download href="{{societyGuidURL}}">
              <span class="ml-3">Registration of Societies</span></a>
         
            </li>
            <li>
              <a target="_blank" download href="{{auditorGuidURL}}">
              <span class="ml-3">Registration of Auditors</span></a>
        
            </li>
            <li>
              <a target="_blank" download href="{{secGuidURL}}">
              <span class="ml-3"> Registration of Secretaries</span></a>
           
            </li>
            <li>
              <a target="_blank" download href="{{tenderGuidURL}}">
              <span class="ml-3">Registration of Agents & Public Contract</span></a>
             
            </li>
          </ul>
          
      </li>
      <!-- <li routerLinkActive="active">
        <a >
          <div>
            <i class="far fa-calendar-check"></i>
            <span class="ml-3">How to Reserve a Company Name</span>
          </div>
        </a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
      <li routerLinkActive="active">
        <a >
          <i class="far fa-file-alt"></i> <span class="ml-3">How to Incorperate a Company</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
      <li routerLinkActive="active">
        <a>
          <i class="fa fa-edit"></i>
          <span class="ml-3">How to Change a Company Name</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
      <li routerLinkActive="active">
        <a >
          <i class="fa fa-minus-circle"></i>
          <span class="ml-3">Deregistered Companies</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
      <li routerLinkActive="active">
        <a >
          <i class="fas fa-balance-scale"></i>
          <span class="ml-3">Companies act of 2007</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li> -->
      <li>
        <a target="_blank" href="http://www.gic.gov.lk/gic/index.php?option=com_info&id=2323&task=info&lang=en">
          <i class="fas fa-balance-scale"></i>
          <span class="ml-3">Public Contract Act</span></a>
        <em class="fa fa-info-circle pull-right-info"></em>
      </li>
    </ul>
  </div>
</div>

<!--
<section class="side-nav">
  <div class="dashboard-nav">
    <div class="dashboard-nav-inner">

      <ul data-submenu-title="Start">
        <li routerLinkActive="active">
          <a routerLink="/home" ><i class="fas fa-search"></i>
            <span>Name Search</span>
          </a>
        </li>
      </ul>

      <ul data-submenu-title="Registration">
        <li>
          <a routerLink="/home/tenders" routerLinkActive="active"><i class="far fa-check-square"></i>
            <span>Registration of Tenders</span>
          </a>
        </li>
      </ul>

      <ul data-submenu-title="Helper">
        <li>
          <a routerLink="" routerLinkActive="active"><i class="far fa-calendar-check"></i>
            <span>How to Reserve a Company Name</span>
          </a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="active"><i class="far fa-file-alt"></i>
            <span>How to Register a Incorperate</span>
          </a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="active"><i class="far fa-edit"></i>
            <span>How to Change a Company Name</span>
          </a>
        </li>
      </ul>


      <ul data-submenu-title="Other">
        <li>
          <a routerLink="" routerLinkActive="active"><i class="fa fa-minus-circle"></i>
            <span>Deregistered Companies</span>
          </a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="active">
            <i class="fas fa-balance-scale"></i>
            <span>Companies act of 2007</span>
          </a>
        </li>
        <li><a target="_blank" href="http://www.gic.gov.lk/gic/index.php?option=com_info&id=2323&task=info&lang=en">
            <i class="fas fa-balance-scale"></i>
            <span>Public Contract Act</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section> -->
