<section>
    <div class="row mb-5">
        <div class="col-xl-12">
            <div style="padding:50px;" class="dashboard-box">
                <div class="row">
                    <div class="col-md-12">
                        <h3>
                            <strong>
                                <center>
                                    Secretary Registration
                                </center>
                            </strong>
                        </h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="float-center">
                            <button (click)="basicModal.show()" routerLinkActive="active"
                                class="btn btn-blur btn-mr0 nav-link light-orenge-text" type="button"
                                mdbWavesEffect>Register
                                as a Person</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="float-center">
                            <button [routerLink]="['registersecretaryfirm']"
                                class="btn btn-blur btn-mr0 nav-link light-orenge-text" type="button" mdbWavesEffect>
                                Register as a Firm</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="float-center">
                            <button [routerLink]="['registersecretarypvt']"
                                class="btn btn-blur btn-mr0 nav-link light-orenge-text" type="button" mdbWavesEffect>
                                Register as a PVT LTD</button>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row mb-5">
            <div class="col-xl-12">
                <div *ngFor="let item of registeredUsers; let i = index" class="dashboard-box">
                    <small class="dashboard-status-button float-right" style="z-index: 1;" appHighlight
                        *ngIf="(!(item.statuskey === 'SECRETARY_APPROVED' || item.statuskey === 'SECRETARY_REJECTED' || item.statuskey === 'SECRETARY_PROCESSING' || item.statuskey === 'SECRETARY_REQUEST_TO_RESUBMIT' || item.statuskey === 'SECRETARY_CANCELED')) && (!(item.intkey === '(1)b(vii)'))">In
                        Progress</small>
                    <small class="dashboard-status-button float-right" style="z-index: 1;" appHighlight
                        *ngIf="(!(item.statuskey === 'SECRETARY_APPROVED' || item.statuskey === 'SECRETARY_REJECTED' || item.statuskey === 'SECRETARY_PROCESSING' || item.statuskey === 'SECRETARY_REQUEST_TO_RESUBMIT' || item.statuskey === 'SECRETARY_CANCELED')) && (item.intkey === '(1)b(vii)')">Pending
                        for interview</small>

                    <small class="dashboard-status-button float-right" style="z-index: 1;background-color: transparent;color: green;font-size: 13px; top: 5px;
            font-weight: bold;
            border: 1px solid green;
            right: 5px;
            border-radius: 5px" *ngIf="item.statuskey === 'SECRETARY_APPROVED'">{{item.status}}</small>
                    <ul class="dashboard-box-list">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="job-listing">
                                        <div class="job-listing-details">
                                            <a href="#">
                                                <img src="assets/images/icon/secretary.png" alt>
                                            </a>
                                            <div class="job-listing-description">
                                                <h3 class="job-listing-title">
                                                    <strong>
                                                        <a>
                                                            {{item.fname}} {{item.lname}}
                                                        </a>
                                                    </strong>
                                                    <button
                                                        style="padding: 2px 10px;font-size: 11px;background-color: blue !important;"
                                                        *ngIf="item.statuskey === 'SECRETARY_APPROVED'"
                                                        (click)="requestCertifiedCopies(item.id,item.fname,item.lname,item.nic,item.cnum)"
                                                        class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                                        <i class="icon-material-outline-arrow-right-alt"></i>
                                                        <strong style="color:white;">To Request Certified
                                                            Copies</strong>
                                                    </button>
                                                </h3>
                                                <div class="job-listing-footer">
                                                    <ul>
                                                        <li>
                                                            <small>
                                                                <i class="icon-material-outline-business"></i>
                                                                nic: {{item.nic}}
                                                            </small>
                                                        </li>
                                                        <li *ngIf="item.cnum">
                                                            <small>
                                                                <i class="icon-material-outline-assignment"></i>
                                                                certificate no: {{item.cnum}}
                                                            </small>
                                                        </li>
                                                        <li>
                                                            <small>
                                                                <i class="icon-material-outline-access-time"></i>
                                                                created at: {{item.date}}
                                                            </small>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row"
                                *ngIf="(item.statuskey === 'SECRETARY_REJECTED' || item.statuskey === 'SECRETARY_PROCESSING' || item.statuskey === 'SECRETARY_REQUEST_TO_RESUBMIT' || item.statuskey === 'SECRETARY_CANCELED')">
                                <div class="col-md">
                                    <div class="float-right">
                                        <button (click)="continueRegistration(item.statuskey,item.nic,item.id)"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">{{item.status}}</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="item.statuskey === 'SECRETARY_APPROVED' && item.change_exist">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <button style="background-color:darkorange !important;"
                                            *ngIf="item.change_info['status'] == 'SECRETARY_CHANGE_PROCESSING'"
                                            (click)="secChange(item.id)"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Complete Change Request</strong>
                                        </button>

                                        <button style="background-color:red !important;"
                                            *ngIf="item.change_info['status'] == 'SECRETARY_CHANGE_RESUBMIT'"
                                            (click)="secChange(item.id)"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Resubmit Change Request</strong>
                                        </button>
                                        <button style="background-color:transparent;color:#111;font-size:13px;"
                                            *ngIf="!( item.change_info['status'] == 'SECRETARY_CHANGE_PROCESSING' || item.change_info['status'] == 'SECRETARY_CHANGE_RESUBMIT')">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <strong>{{item.change_info['value']}}</strong>
                                        </button>

                                    </div>
                                </div>

                            </div>

                            <div class="row" *ngIf="item.statuskey === 'SECRETARY_APPROVED' && !item.change_exist">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <!-- <button style="background-color: #007bff !important;right: 10px;"
                                            *ngIf="phase3 && item.secretary_delisting === '' "
                                            (click)="secretaryDelisting(item.id,'MODULE_SECRETARY')" 
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Secretary Delisting</strong>
                                        </button> -->
                                    <button style="background-color: #007bff !important;right: 10px;"
                                        *ngIf=" (phase3 && item.secretary_delisting === 'SECRETARY_DELISTING_PROCESSING' || item.secretary_delisting === '' ) "
                                        (click)="secretaryDelisting(item.id,'MODULE_SECRETARY')"
                                        class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                        <i class="icon-material-outline-arrow-right-alt"></i>
                                        <strong style="color:white;">Secretary Delisting</strong>
                                    </button>
                                    <button style="background-color: #f99800 !important;right: 10px;"
                                        *ngIf="phase3 && item.secretary_delisting === 'SECRETARY_DELISTING_PENDING'"
                                        (click)="secretaryDelisting(item.id,'MODULE_SECRETARY')"
                                        class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                        <i class="icon-material-outline-arrow-right-alt"></i>
                                        <strong style="color:white;">Processing Delisting</strong>
                                    </button>
                                    <button style="background-color: #ea1f3d !important;right: 10px;"
                                        *ngIf="phase3 && item.secretary_delisting === 'SECRETARY_DELISTING_RESUBMIT'"
                                        (click)="secretaryDelisting(item.id,'MODULE_SECRETARY')"
                                        class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                        <i class="icon-material-outline-arrow-right-alt"></i>
                                        <strong style="color:white;">Resubmit Delisting</strong>
                                    </button>
                                        <button (click)="secChange(item.id)"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Change Secretary Details</strong>
                                        </button>

                                    </div>
                                </div>

                            </div>

                            <hr>


                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row mb-5">
            <div class="col-xl-12">
                <div *ngFor="let item of registeredFirms; let i = index" class="dashboard-box">
                    <small class="dashboard-status-button float-right" style="z-index: 1;" appHighlight
                        *ngIf="!(item.statuskey === 'SECRETARY_APPROVED' || item.statuskey === 'SECRETARY_REJECTED' || item.statuskey === 'SECRETARY_PROCESSING' || item.statuskey === 'SECRETARY_REQUEST_TO_RESUBMIT' || item.statuskey === 'SECRETARY_CANCELED')">In
                        Progress</small>
                    <small class="dashboard-status-button float-right" style="z-index: 1;background-color: transparent;color: green;font-size: 13px; top: 5px;
            font-weight: bold;
            border: 1px solid green;
            right: 5px;
            border-radius: 5px" *ngIf="item.statuskey === 'SECRETARY_APPROVED'">{{item.status}}</small>
                    <ul class="dashboard-box-list">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="job-listing">
                                        <div class="job-listing-details">
                                            <a href="#">
                                                <img src="assets/images/icon/secretaryfirm.png" alt>
                                            </a>
                                            <div class="job-listing-description">
                                                <h3 class="job-listing-title">
                                                    <strong>
                                                        <a>
                                                            {{item.name}}
                                                        </a>
                                                    </strong>
                                                    <button
                                                        style="padding: 2px 10px;font-size: 11px;background-color: blue !important;"
                                                        *ngIf="item.statuskey === 'SECRETARY_APPROVED'"
                                                        (click)="requestCertifiedCopiesFirm(item.id,item.regnum,item.cnum,item.name)"
                                                        class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                                        <i class="icon-material-outline-arrow-right-alt"></i>
                                                        <strong style="color:white;">To Request Certified
                                                            Copies</strong>
                                                    </button>
                                                </h3>
                                                <div class="job-listing-footer">
                                                    <ul>
                                                        <li>
                                                            <small>
                                                                <i class="icon-material-outline-business"></i>
                                                                reg no: {{item.regnum}}
                                                            </small>
                                                        </li>
                                                        <li *ngIf="item.cnum">
                                                            <small>
                                                                <i class="icon-material-outline-assignment"></i>
                                                                certificate no: {{item.cnum}}
                                                            </small>
                                                        </li>
                                                        <li>
                                                            <small>
                                                                <i class="icon-material-outline-access-time"></i>
                                                                created at: {{item.date}}
                                                            </small>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="(item.statuskey === 'SECRETARY_REJECTED' || item.statuskey === 'SECRETARY_PROCESSING' || item.statuskey === 'SECRETARY_REQUEST_TO_RESUBMIT' || item.statuskey === 'SECRETARY_CANCELED')">
                                <div class="col-md">
                                    <div class="float-right">
                                        <button
                                            (click)="continueRegistrationFirm(item.statuskey,item.regnum,item.id,item.type)"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">{{item.status}}</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>




                            <div class="row" *ngIf="item.statuskey === 'SECRETARY_APPROVED' && item.change_exist">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <button style="background-color:darkorange !important;"
                                            *ngIf="item.change_info['status'] == 'SECRETARY_CHANGE_PROCESSING'"
                                            (click)="secFirmChange(item.id,item.type)"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Complete Change Request</strong>
                                        </button>

                                        <button style="background-color:red !important;"
                                            *ngIf="item.change_info['status'] == 'SECRETARY_CHANGE_RESUBMIT'"
                                            (click)="secFirmChange(item.id,item.type)"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Resubmit Change Request</strong>
                                        </button>


                                        <button style="background-color:transparent;color:#111;font-size:13px;"
                                            *ngIf="!( item.change_info['status'] == 'SECRETARY_CHANGE_PROCESSING' || item.change_info['status'] == 'SECRETARY_CHANGE_RESUBMIT')">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <strong>{{item.change_info['value']}}</strong>
                                        </button>

                                    </div>
                                </div>

                            </div>

                            <div class="row" *ngIf="item.statuskey === 'SECRETARY_APPROVED' && !item.change_exist">
                                <div class="col-md-12">
                                    <div class="float-right">
                                        <button style="background-color: #007bff !important;right: 10px;"
                                            *ngIf="phase3 && (item.secretary_delisting === 'SECRETARY_DELISTING_PROCESSING' || item.secretary_delisting === '')"
                                            (click)="secretaryDelisting(item.id,'MODULE_SECRETARY_FIRM')"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Secretary Delisting</strong>
                                        </button>
                                        <button style="background-color: #f99800 !important;right: 10px;"
                                            *ngIf="phase3 && item.secretary_delisting === 'SECRETARY_DELISTING_PENDING'"
                                            (click)="secretaryDelisting(item.id,'MODULE_SECRETARY_FIRM')"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Processing Delisting</strong>
                                        </button>
                                        <button style="background-color: #ea1f3d !important;right: 10px;"
                                            *ngIf="phase3 && item.secretary_delisting === 'SECRETARY_DELISTING_RESUBMIT'"
                                            (click)="secretaryDelisting(item.id,'MODULE_SECRETARY_FIRM')"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Resubmit Delisting</strong>
                                        </button>

                                        <button (click)="secFirmChange(item.id)"
                                            class="button button-sliding-icon ripple-effect secretary-{{item.statuskey}}">
                                            <i class="icon-material-outline-arrow-right-alt"></i>
                                            <strong style="color:white;">Change Secretary Details</strong>
                                        </button>

                                    </div>
                                </div>

                            </div>



                            <hr>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<!--Confirm country modal New-->
<div mdbModal #basicModal="mdbModal" id="sec-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right close-modal-item" aria-label="Close"
                    (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel" style="text-align:center;color:#f35b3f">Country of
                    Origin
                    <br />
                </h4>
            </div>
            <div class="modal-body">
                <div class="secretary-type-tab-wrapper">
                    <div (click)="sriLankan()" class="tab local-tab active">Sri Lankan</div>
                    <div (click)="nonSriLankan()" class="tab local-tab">Non Sri Lankan</div>
                </div>
                <div id="div3">
                    <div class="form-group col-md-6 nic-field-wrapper">
                        <label class="col-form-label col-form-label-sm">NIC No
                            <span class="req">*</span>
                        </label>
                        <input (input)="nicValidate(nic)" pattern="[0-9]{9}[x|X|v|V]|[0-9]{12}" maxlength="12"
                            name="nic" [(ngModel)]="nic" class="form-control form-control-sm modal-input-director-nic"
                            placeholder="NIC">
                        <span class="req-message">Valid NIC required</span>
                        <button [disabled]="!enableNic" (click)="isSecretaryReg(nic)"
                            class="btn btn-success nic-continue-button">continue</button>
                    </div>
                </div>
                <div id="div4">
                    <br>
                    <hr>
                    <h3 align="center">Only Sri Lankan is permitted to be a Secretary</h3>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: flex-end">
            </div>
        </div>
    </div>
</div>

<!--Confirm country modal(not used)-->
<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ backdrop: true, ignoreBackdropClick: true }">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">Country of Origin</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <small>Please make the appropriate choice to mark your country of Origin and Proceed</small>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary float-right" (click)="sriLankan()" role="button">Sri
                            Lankan</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-primary" (click)="nonSriLankan()" role="button">Non Sri Lankan</button>
                    </div>
                </div>
                <br>
                <div id="div1">
                    <div class="row">
                        <div class="col-8">
                            <input (input)="nicValidate(nic)" pattern="[0-9]{9}[x|X|v|V]|[0-9]{12}" maxlength="12"
                                class="form-control form-control-sm" required name="nic" [(ngModel)]="nic"
                                placeholder="Your NIC Number">
                            <span class="req-message">Valid NIC required</span>
                        </div>
                        <div class="col-4">
                            <a [class.disabled]="!enableNic" [routerLink]="['registersecretarynatural', nic ]"
                                class="button  btn-primary">
                                Continue
                            </a>
                        </div>
                    </div>
                </div>
                <div id="div2">
                    <small>Only Sri Lankan is permitted to be a Secretary</small>
                </div>
            </div>
        </div>
    </div>
</div>