<!-- <div>
  <div class="container mt-2  mb-2">
    <div class="row">
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span> <i class="fas fa-layer-group bg-default-color"></i></span>
            <span class="mls"> All <br>{{ status.all }}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span><i class="fas fa-check-circle bg-default-color"></i></span>
            <span class="mls">Name Approval <br> {{ status.approval }}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span> <i class="fas fa-times-circle bg-default-color"></i></span>
            <span class="mls">Name Rejected <br> {{ status.rejected }}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span><i class="fas fa-ban bg-default-color"></i></span>
            <span class="mls">Name Canceled <br> {{ status.canceled }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span><i class="fas fa-check-circle bg-default-color"></i></span>
            <span class="mls">Incorperate Approval <br> {{ status.inapproval }}</span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="glyph fs1">
          <div class="clearfix bshadow0 pbs">
            <span> <i class="fas fa-times-circle bg-default-color"></i></span>
            <span class="mls">Incorperate Rejected <br> {{ status.inrejected }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div>
  <div class="container">
    <!-- <div class="row col mt-4">
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span> <i class="fas fa-layer-group bg-default-color"></i></span>
          <span class="mls"> All <br>{{ status.all }}</span>
        </div>
      </div>
    </div> -->
    <div class="row col mt-2">
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span><i class="fas fa-spinner bg-default-color"></i></span>
          <span class="mls">In-Progress <br> {{ status.inProgress }}</span>
        </div>
      </div>
    </div>
    <div class="row col mt-2">
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span><i class="fas fa-tasks bg-default-color"></i></span>
          <span class="mls">Re-Submit <br> {{ status.resubmit }}</span>
        </div>
      </div>
    </div>
    <div class="row col mt-2">
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span><i class="fas fa-check-circle bg-default-color"></i></span>
          <span class="mls">Name Approval <br> {{ status.approval }}</span>
        </div>
      </div>
    </div>
    <div class="row col mt-2">
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span> <i class="fas fa-times-circle bg-default-color"></i></span>
          <span class="mls">Name Rejected <br> {{ status.rejected }}</span>
        </div>
      </div>
    </div>
    <div class="row col mt-2">
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span><i class="fas fa-ban bg-default-color"></i></span>
          <span class="mls">Name Canceled <br> {{ status.canceled }}</span>
        </div>
      </div>
    </div>

    <div class="row col mt-2">
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span><i class="fas fa-check-circle bg-default-color"></i></span>
          <span class="mls">Incorporate Approval <br> {{ status.inapproval }}</span>
        </div>
      </div>
    </div>
    <div class="row col mt-2">
      <div class="glyph fs1">
        <div class="clearfix bshadow0 pbs">
          <span> <i class="fas fa-times-circle bg-default-color"></i></span>
          <span class="mls">Incorporate Rejected <br> {{ status.inrejected }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
