<div class="row justify-content-md-center">
  <div class="col-md-6 col-sm-12 text-center mt-8">
    <div class="sec-title-container less-padding-1 text-center">
      <h3>Thank you for registering</h3>
      <hr>
      <small><strong>An email verification link has just been sent to {{ userEmail }} email account to verify your email and continue the registration process. <a (click)="requestLink()">click here</a>
          to reactivate if the link is expired</strong></small>
      <div class="ce-title-line"></div>
      <br>
    </div>
  </div>
</div>
