<div class="clearfix">
</div>

<section>
  <div class="container top-margin" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-md-11 nopadding">
        <form role="form" method="post" class="f1">
          <h3 style="text-align: center">GET CERTIFIED COPIES OF SECRETARY</h3>
          <p style="text-align: center">Please specify no of copies you need and proceed payment.</p>
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="25" data-number-of-steps="2"
                [ngStyle]="{'width': progress.progressPercentage}"></div>
            </div>
            <div *ngFor="let item of progress['stepArr']; let i = index" class="f1-step {{item.status}}">
              <div class="f1-step-icon">
                <i class="{{item.icon}}"></i>
              </div>
              <p>{{item.label}}</p>
            </div>
          </div>

          <!-- Debentures details -->
          <fieldset [hidden]="stepOn != 0">
            <div class="Members-secton stakeholder-section">
              <div class="objective-list-wrapper-block">


                <div class="objective-record">

                  <div class="form-row" *ngIf="this.type=='induvidual'">
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          Name :
                        </strong>
                      </label>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          {{fname}} {{lname}}
                        </strong>
                      </label>
                    </div>
                  </div>

                  <div class="form-row" *ngIf="this.type=='firm'">
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          Firm Name :
                        </strong>
                      </label>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          {{name}}
                        </strong>
                      </label>
                    </div>
                  </div>

                  <div class="form-row" *ngIf="this.type=='firm'">
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          Registration no :
                        </strong>
                      </label>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          {{regnum}}
                        </strong>
                      </label>
                    </div>
                  </div>

                  <div class="form-row" *ngIf="this.type=='induvidual'">
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          NIC :
                        </strong>
                      </label>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          {{nic}}
                        </strong>
                      </label>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          Certificate no :
                        </strong>
                      </label>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="col-form-label col-form-label-sm">
                        <strong>
                          {{cnum}}
                        </strong>
                      </label>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="Members-secton stakeholder-section">
              <div class="objective-list-wrapper-block">
                <div class="objective-record">
                  <div class="form-group row">
                    <label class="col-sm-8 col-form-label col-form-label-sm"><strong> Enter number of certified copies
                        that you want</strong>
                      <span class="req">*</span></label>
                    <div class="col-sm-2">
                      <input (input)="validation()" maxlength="3"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                        class="form-control form-control-sm" required name="quantity"
                        [(ngModel)]="secCertified.quantity" placeholder="">
                      <span class="req-message">Number required</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <!-- validation message -->
            <div class="modal-header" *ngIf="validationMessage">
              <h4 class="modal-title w-100" id="myModalLabel" style="text-align:center;color:#f35b3f">
                <span class="stakeholder-validation">{{ validationMessage }}</span>
              </h4>
            </div>

            <!-- next button -->
            <div class="f1-buttons">
              <button [disabled]="!enableStep1Submission" type="button" class="btn btn-primary" id="btn1-next"
                (click)="areYouSureYes()">Next
                <i class="fas fa-forward"></i>
              </button>
            </div>
            <br>
            <br>

          </fieldset>
          <!-- end of Debentures details submit -->


          <!-- Payments -->
          <fieldset class="{{stepOn}}" [hidden]="stepOn != 1">
            <div class="Members-secton stakeholder-section">
              <div class="members-list stakeholder-list-wrapper">
                <div [class]="'stakeholder-record-inner'" class="stakeholder-record-inner"
                  style="padding: 25px 10px 10px;">
                  <div class="content">
                    <div class="container top-margin">
                      <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                          <div class="box">
                            <h3 class="box-title">User payment agreement</h3>
                            <div class="plan-selection">
                              <div class="plan-data">
                                <small class="plan-text">If you are having any problems, please email eroc@info.com or
                                  contact on 011-2123456.</small>
                                <br>
                                <small class="plan-text">User payment agreement</small>
                                <br>
                              </div>
                            </div>
                            <div class="plan-selection">
                              <div class="row justify-content-md-center mt-3">
                                <label for="card" class="method">
                                  <div class="card-logos">
                                    <img src="assets/images/header/visa_logo.png" />
                                    <img src="assets/images/header/mastercard_logo.png" />
                                  </div>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">

                          <div class="widget">
                            <h4 class="widget-title">Order Summary</h4>
                            <div class="summary-block">
                              <div class="summary-content">
                                <div class="summary-head">
                                  <h5 class="summary-title">Secretary certified copies Service Price</h5>
                                </div>
                                <div class="summary-price">
                                  <p class="summary-text">{{ calculation.getValue('PAYMENT_ISSUING_CERTIFIED_COPIES_OF_SECRETARIES',secCertified.quantity) |
                              currency:'Rs.' }}</p>
                                </div>
                                <div class="summary-head">
                                  <h5 class="summary-title">Tax</h5>
                                </div>
                                <div class="summary-price">
                                  <p class="summary-text">{{ calculation.getTaxAmount | currency:'Rs.' }}</p>
                                </div>
                                <div class="summary-head">
                                  <h5 class="summary-title">Convenience Fee</h5>
                                </div>
                                <div class="summary-price">
                                  <p class="summary-text">{{ calculation.getConvenienceFee | currency:'Rs.' }}</p>
                                </div>
                              </div>
                            </div>
                            <div class="summary-content">
                              <div class="summary-head">
                                <h5 class="summary-title">
                                  <strong>Total Amount</strong>
                                </h5>
                              </div>
                              <div class="summary-price">
                                <p class="summary-text">
                                  <strong>{{ calculation.getTotalAmount | currency:'Rs.' }}</strong>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(0)" type="button" class="btn btn-previous">
                <i class="fas fa-backward"></i>
                Previous</button>
              <button (click)="getCipherToken()" type="button" class="btn btn-primary">PAY</button>
            </div>
          </fieldset>
          <!--end of payments-->

        </form>
      </div>
      <div style="clear:both"></div>
      <br />
      <br />
      <!--end right col main-->
    </div>
  </div>
</section>

<div class="payment-success-wrapper pay-block-wrapper" *ngIf="blockBackToForm">
  <div class="payment-success-body">
    <div class="header">
      <h2>Are you sure want to proceed further?</h2>
    </div>
    <div class="body">
      <p>Make sure to enter the correct amount of certified copies</p>
    </div>
    <div class="footer">
      <button style="margin-right: 10px" class="btn btn-success" (click)="detailsSubmit()">Yes</button>
      <button style="margin-left: 10px" class="btn btn-danger" (click)="areYouSureNo()">No</button>
    </div>
  </div>
</div>

<div class="payment-success-wrapper pay-block-wrapper" *ngIf="blockPayment">
  <div class="payment-success-body">
    <div class="header">
      <h2>Are you sure want to proceed further?</h2>
    </div>
    <div class="body">
      <p>If yes, you will not be able to revert back.</p>
    </div>
    <div class="footer">
      <form ngNoForm action="{{ paymentGateway }}" method="post">
        <input type="hidden" [(ngModel)]="cipher_message" name="clientPaymentRequest">
        <button style="margin-right: 10px" type="submit" class="btn btn-success">Yes</button>
        <button style="margin-left: 10px" class="btn btn-danger" (click)="areYouSurePayNo()">No</button>
      </form>
    </div>
  </div>
</div>