<div class="clearfix top-margin">
</div>
<section>
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-md-11 nopadding">
        <form role="form" method="post" class="f1">
          <h3 style="text-align: center">secretary registration form (corporate body)</h3>
          <p style="text-align: center">Fill in all steps for completing registration process.</p>
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="10" data-number-of-steps="5"
                [ngStyle]="{'width': progress.progressPercentage}"></div>
            </div>
            <div *ngFor="let item of progress['stepArr']; let i = index" class="f1-step {{item.status}}">
              <div class="f1-step-icon">
                <i class="{{item.icon}}"></i>
              </div>
              <p>{{item.label}}</p>
            </div>
          </div>
          <fieldset [hidden]="stepOn != 0">
            <div class="secretary personal details section">
              <div class="form-group row">
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Name of the limited liability company
                    <span class="req">*</span></label>
                  <input (input)="secretaryFirmValidationStep1()" class="form-control form-control-sm" name="name"
                    maxlength="100" [(ngModel)]="secretaryFirmDetails.name" placeholder="Name of the limited liability company">
                  <span class="req-message">Valid name required</span>
                </div>
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Registration Number of
                    Company
                    <span class="req">*</span></label>
                  <input (input)="secretaryFirmValidationStep1()" class="form-control form-control-sm" name="reg_num"
                    maxlength="20" [(ngModel)]="secretaryFirmDetails.registrationNumber"
                    placeholder="Registration Number of Company">
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Company Name in
                    Sinhala
                  </label>
                  <input class="form-control form-control-sm sinhalaname" id="sinhalaname" maxlength="190"
                    [(ngModel)]="sinFirmName" [ngModelOptions]="{standalone: true}" (keyup)='this.loadsinhala()'>
                  <small class="text text-danger float-right">Press the space bar after each word</small>
                </div>
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Company Name in
                    Tamil
                  </label>
                  <input class="form-control form-control-sm tamilname" id="tamilname" maxlength="190"
                    [(ngModel)]="tamFirmName" [ngModelOptions]="{standalone: true}" (keyup)='this.loadTamil()'>
                  <small class="text text-danger float-right">Press the space bar after each word</small>
                </div>
              </div>
              <!-- new line(add email & phone number) -->
              <div class="form-group row">
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Email Address
                    <span class="req">*</span>
                  </label>
                  <input (input)="secretaryFirmValidationStep1()" class="form-control form-control-sm email" id="email" type="email"
                    maxlength="90" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                  <span class="req-message">Valid email requried</span>
                </div>
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Mobile No
                    <span class="req">*</span>
                  </label>
                  <input (input)="secretaryFirmValidationStep1()" class="form-control form-control-sm mobile" id="mobile" maxlength="10"
                    [(ngModel)]="mobile" pattern="\d{10}" type="tel" [ngModelOptions]="{standalone: true}">
                  <span class="req-message">10 Digits mobile number requried</span>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Resident Telephone No
                  </label>
                  <input class="form-control form-control-sm tel" id="tel" maxlength="10"
                    [(ngModel)]="tel" pattern="\d{10}" type="tel" [ngModelOptions]="{standalone: true}">
                  <span class="req-message">10 Digits telephone number requried</span>
                </div>
              </div>
              <br>
              <hr width="100%" colour="#000000">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-form-label-sm">Address of Company
                  <span class="req">*</span>
                </label>
                <div class="col-sm-4">
                  <input (input)="secretaryFirmValidationStep1()" class="form-control form-control-sm" name="address1"
                    maxlength="100" [(ngModel)]="secretaryFirmDetails.businessLocalAddress1" placeholder="Address1">
                  <span class="req-message">Valid address required</span>
                </div>
                <div class="col-sm-4">
                  <input (input)="secretaryFirmValidationStep1()" class="form-control form-control-sm" name="address2"
                    maxlength="100" [(ngModel)]="secretaryFirmDetails.businessLocalAddress2" placeholder="Address2">
                  <span class="req-message">Valid address required</span>
                </div>
                <div class="col-sm-4">
                  <input (input)="secretaryFirmValidationStep1()" class="form-control form-control-sm"
                    name="business_postcode" maxlength="100" [(ngModel)]="secretaryFirmDetails.businessPostCode"
                    placeholder="Post Code">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> Province
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryFirmValidationStep1()"
                    (ngModelChange)="this.secretaryFirmDetails.businessDistrict = undefined;this.secretaryFirmDetails.businessCity = undefined;this.secretaryFirmDetails.bgnDivision = undefined;"
                    class="custom" placeholder="Province" [searchable]="true"
                    [(ngModel)]="secretaryFirmDetails.businessProvince" [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let province of data.provinces" [value]="province">{{
                      province.description_en }}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> District
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryFirmValidationStep1()"
                    (ngModelChange)="this.secretaryFirmDetails.businessCity = undefined;this.secretaryFirmDetails.bgnDivision = undefined;"
                    class="custom" placeholder="District" [searchable]="true"
                    [(ngModel)]="secretaryFirmDetails.businessDistrict" [ngModelOptions]="{standalone: true}">
                    <ng-option
                      *ngFor="let district of this.data.districts | district:secretaryFirmDetails.businessProvince"
                      [value]="district">{{
                      district.description_en }}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> City
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryFirmValidationStep1()"
                    (ngModelChange)="this.secretaryFirmDetails.bgnDivision = undefined;" class="custom"
                    placeholder="City" [searchable]="true" [(ngModel)]="secretaryFirmDetails.businessCity"
                    [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let city of data.citys | city:secretaryFirmDetails.businessDistrict"
                      [value]="city">{{city.description_en}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> GN Division
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryFirmValidationStep1()" class="custom" placeholder="GN Division"
                    [searchable]="true" [(ngModel)]="secretaryFirmDetails.bgnDivision"
                    [ngModelOptions]="{standalone: true}">
                    <ng-option
                      *ngFor="let gndivision of data.gndivisions | gndivision:secretaryFirmDetails.businessCity"
                      [value]="gndivision">{{gndivision.description_en}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label class="col-sm-8 col-form-label col-form-label-sm">Does the nature of business of
                  memorandom of association of
                  corporation provide for the corporation to undertake secretarial work?
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep1()" name="undertake"
                    [(ngModel)]="secretaryFirmDetails.isUndertakeSecWork" type="radio" value="yes" />
                  <span> Yes</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep1(); isUndertakeSecWorkPopUp();" name="undertake"
                    [(ngModel)]="secretaryFirmDetails.isUndertakeSecWork" type="radio" value="no" />
                  <span> No</span>
                </label>
              </div>
            </div>
            <div class="f1-buttons">
              <button [disabled]="!enableStep1Submission" type="button" class="btn btn-next" id="btn1-next"
                (click)="changeProgressStatuses(1)">Next
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <fieldset [hidden]="stepOn != 1">
            <div class="secretary other details section">
              <div class="form-group row">
                <label f class="col-sm-9 col-form-label col-form-label-sm">Add Director(s)
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <div class="director-secton stakeholder-section">
                    <div class="add-new-wrapper director-add-new-wrapper">
                      <h2>
                        <span class="add-new-wrapper-label">Add Director(s)</span>
                        <div class="line"></div>
                        <button type="button" mdbBtn class="relative waves-light add-new-stakholder"
                          (click)="frame.show()" mdbWavesEffect>
                          <i class="fa fa-plus"></i> Add New</button>
                      </h2>
                      <div class="director-list stakeholder-list-wrapper">
                        <div *ngFor="let item of secretaryFirmPartnerDetails; let i = index"
                          class="director-record stakeholder-record"
                          style=" margin: 30px 0;border-radius: 20px;background: #fff;border: 1px solid rgb(243, 91, 63);">
                          <div class="stakeholder-record-summeru" style="background-color: #f35b3f;
                          color: #fff;
                          padding: 5px 10px;
                          font-weight: lighter;
                          font-size: 14px;
                          border-top-left-radius: 18px;
                          box-shadow: 1px 1px 2px #b3aea9;
                          border-top-right-radius: 18px;
                          cursor: pointer;
                          width: 100%;
                          border-radius: 20px;">
                            {{item.name}} , {{item.residentialAddress}}
                            <span (click)="removeFirmPartnerDetailsFromArray(i); secretaryFirmValidationStep2();"
                              title="remove record" style="float:right;" class="record-handler record-handler-remove">
                              <i class="fa fa-trash"></i>
                            </span>
                            <!-- <span title="show details" style="float:right; margin:0 15px" class="record-handler">
                              <i class="fa fa-pencil-alt"></i>
                            </span>
                            <span title="show details" style="float:right; margin:0 15px" class="record-handler">
                              <i class="fa fa-eye"></i>
                            </span> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Has any partner in the corporation been
                  adjudged by
                  a competent court
                  to be of unsound mind
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep2()" type="radio" name="unsound"
                    [(ngModel)]="secretaryFirmDetails.isUnsoundMind" value="no" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep2(); isUnsoundMindPopUp();" type="radio" name="unsound"
                    [(ngModel)]="secretaryFirmDetails.isUnsoundMind" value="yes" />
                  <span> Yes</span>
                </label>
              </div>
              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Has any partner in the corporation been
                  adjudged an
                  insolvent or
                  bankrupt
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep2()" name="bankrupt"
                    [(ngModel)]="secretaryFirmDetails.isInsolventOrBankrupt" type="radio" value="no"
                    (click)="show1()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep2()" name="bankrupt"
                    [(ngModel)]="secretaryFirmDetails.isInsolventOrBankrupt" type="radio" value="yes"
                    (click)="show2()" />
                  <span> Yes</span>
                </label>
              </div>
              <div id="div1" class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Mention the reason
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryFirmValidationStep2()" class="form-control form-control-sm" name="reason1"
                    maxlength="100" [(ngModel)]="secretaryFirmDetails.reason1" placeholder="Reason">
                </div>
              </div>
              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Has any partner in the corporation been
                  convicted
                  by any competent
                  court in Sri Lanka / Overseas
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep2()" name="competent"
                    [(ngModel)]="secretaryFirmDetails.isCompetentCourt" type="radio" value="no" (click)="show3()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep2()" name="competent"
                    [(ngModel)]="secretaryFirmDetails.isCompetentCourt" type="radio" value="yes" (click)="show4()" />
                  <span> Yes</span>
                </label>
              </div>
              <div class="form-group" id="div2">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Mention the reason
                    <span class="req">*</span>
                  </label>
                  <label class="col-sm-2 col-form-label col-form-label-sm">
                    <input (change)="secretaryFirmValidationStep2()" name="reason"
                      [(ngModel)]="secretaryFirmDetails.reason2" type="radio" value="pardoned" />
                    <span> Pardoned</span>
                  </label>
                  <label class="col-sm-2 col-form-label col-form-label-sm">
                    <input (change)="secretaryFirmValidationStep2()" name="reason"
                      [(ngModel)]="secretaryFirmDetails.reason2" type="radio" value="appeal" />
                    <span> Appeal</span>
                  </label>
                </div>
              </div>
              <hr style="border: 1px solid #f35b3f;">
              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Is this an existing registered secretary firm in
                  ROC
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep2()" type="radio" name="isexisting"
                    [(ngModel)]="secretaryFirmDetails.isExistSec" value="0" (click)="show5()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryFirmValidationStep2()" type="radio" name="isexisting"
                    [(ngModel)]="secretaryFirmDetails.isExistSec" value="1" (click)="show6()" />
                  <span> Yes</span>
                </label>
              </div>
              <div id="div3" class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Certificate Number
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryFirmValidationStep2()" class="form-control form-control-sm" name="certificatenum"
                  minlength="6" maxlength="90" [(ngModel)]="secretaryFirmDetails.certificateNo">
                    <span class="req-message">Minimum length 6</span>
                </div>
              </div>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(0)" type="button" class="btn btn-previous"><i
                  class="fas fa-backward"></i>
                Previous</button>
              <button [disabled]="!enableStep2Submission" (click)="isPartnerSecretary()" type="button"
                class="btn btn-next">Next
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <fieldset [hidden]="stepOn != 2">
            <div class="container download-container">
              <h3>Document List</h3>
              <div class="doc-block-wrapper">
                <div class="doc-block">
                  <h4>Application Form Download</h4>
                  <div class="download-application-row">
                    <div class="download-application-block">Application</div>
                    <div class="doc-download">
                      <a (click)="clickDownload()" target="_blank" download="doc.pdf"
                        class="btn btn-primary btn-sm download doc-download-link">
                        <i class="fas fa-cloud-download-alt"></i> Download
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(1)" type="button" class="btn btn-previous"><i
                  class="fas fa-backward"></i>
                Previous</button>
              <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-next">Next <i
                  class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <fieldset [hidden]="stepOn != 3">
            <div class="alert alert-warning" role="alert">
              <p>
                <small>Please upload all required<span class="req">*</span> files in pdf format,upload only A4 Size, portrait orientation and file size
                  should be less
                  than 4 MB.</small>
              </p>
              <!-- <p>
                <small>Please remove cover page of 'ARTICLES OF THE ASSOCIATION' Document</small>.</p> -->
            </div>
            <hr>
            <div class="container uploaded-container">
              <div class="row upload-row">
                <div class="col-9 doc">
                  Application Form <span class="req">*</span>
                </div>
                <div class="col">
                  <div class="float-right" *ngIf="application?.length <= 0">
                    <label for="af" class="upload-wrapper btn btn-primary btn-sm download">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>
                    <input style="display:block;position: fixed;top:-100000px" id="af" type="file"
                      (change)="fileUpload($event,'applicationUpload'); gotoPay();" placeholder="Upload file"
                      accept=".pdf">
                  </div>
                </div>
                <div class="col-12 uploaded-doc" *ngFor="let item of application; let i = index">
                  <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                  <button class="button red button-sm" (click)="fileDelete(item.id,i); gotoPay();">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                  <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                    <i class="far fa-file-pdf"></i> View
                  </button>
                </div>
              </div>
            </div>
            <hr *ngIf="secretaryFirmDetails.isExistSec === '1'">
            <div class="container uploaded-container" *ngIf="secretaryFirmDetails.isExistSec === '1'">
              <div class="row upload-row">
                <div class="col-9 doc">
                  Certificate <span class="req">*</span>
                </div>
                <div class="col">
                  <div class="float-right" *ngIf="regCertificateUploadList?.length <= 0">
                    <label for="cf" class="upload-wrapper btn btn-primary btn-sm download">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>
                    <input style="display:block;position: fixed;top:-100000px" id="cf" type="file"
                      (change)="fileUpload($event,'regCertificateUpload'); gotoPay();"
                      placeholder="Upload file" accept=".pdf">
                  </div>
                </div>
                <div class="col-12 uploaded-doc" *ngFor="let item of regCertificateUploadList; let i = index">
                  <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                  <button class="button red button-sm"
                    (click)="fileDelete(item.id,i); gotoPay();">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                  <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                    <i class="far fa-file-pdf"></i> View
                  </button>
                </div>
              </div>
            </div>
            <hr>
            <div class="container uploaded-container">
              <div class="row upload-row">
                <div class="col-9 doc">
                  Form 01
                </div>
                <div class="col">
                  <div class="float-right" *ngIf="form1?.length <= 0">
                    <label for="f1" class="upload-wrapper btn btn-primary btn-sm download">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>
                    <input style="display:block;position: fixed;top:-100000px" id="f1" type="file"
                      (change)="fileUpload($event,'form1Upload'); gotoPay();" placeholder="Upload file"
                      accept=".pdf">
                  </div>
                </div>
                <div class="col-12 uploaded-doc" *ngFor="let item of form1; let i = index">
                  <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                  <button class="button red button-sm" (click)="fileDelete(item.id,i); gotoPay();">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                  <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                    <i class="far fa-file-pdf"></i> View
                  </button>
                </div>
              </div>
            </div>
            <hr>
            <div class="container uploaded-container">
              <div class="row upload-row">
                <div class="col-9 doc">
                  Article Of Association
                </div>
                <div class="col">
                  <div class="float-right" *ngIf="article?.length <= 0">
                    <label for="aa" class="upload-wrapper btn btn-primary btn-sm download">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>
                    <input style="display:block;position: fixed;top:-100000px" id="aa" type="file"
                      (change)="fileUpload($event,'articleUpload'); gotoPay();" placeholder="Upload file"
                      accept=".pdf">
                  </div>
                </div>
                <div class="col-12 uploaded-doc" *ngFor="let item of article; let i = index">
                  <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                  <button class="button red button-sm" (click)="fileDelete(item.id,i); gotoPay();">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                  <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                    <i class="far fa-file-pdf"></i> View
                  </button>
                </div>
              </div>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(2)" type="button" class="btn btn-previous"><i
                  class="fas fa-backward"></i>
                Previous</button>
              <button [disabled]="!enableGoToPay" (click)="submit()" type="button"
                class="btn btn-next">Next
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <fieldset class="{{stepOn}}" [hidden]="stepOn != 4">
            <div class="content">
              <div class="container top-margin">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                    <div class="box">
                      <h3 class="box-title">User payment agreement</h3>
                      <div class="plan-selection">
                        <div class="plan-data">
                          <small class="plan-text">If you are having any problems, please email eroc@info.com or
                            contact
                            on 011-2123456.</small><br>
                          <small class="plan-text">User
                            payment agreement</small><br>
                        </div>
                      </div>
                      <div class="plan-selection">
                        <div class="row justify-content-md-center mt-3">
                          <label for="card" class="method">
                            <div class="card-logos">
                              <img src="assets/images/header/visa_logo.png" />
                              <img src="assets/images/header/mastercard_logo.png" />
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="widget">
                      <h4 class="widget-title">Order Summary</h4>
                      <div class="summary-block">
                        <div class="summary-content">
                          <div class="summary-head">
                            <h5 class="summary-title">Registration fee</h5>
                          </div>
                          <div class="summary-price">
                            <p class="summary-text">{{ calculation.getValue('PAYMENT_PVTLTD_AS_SECRETARIES') |
                              currency:'Rs.' }}</p>
                          </div>
                          <div class="summary-head">
                            <h5 class="summary-title">Tax</h5>
                          </div>
                          <div class="summary-price">
                            <p class="summary-text">{{ calculation.getTaxAmount | currency:'Rs.' }}</p>
                          </div>
                          <div class="summary-head">
                            <h5 class="summary-title">Convenience Fee</h5>
                          </div>
                          <div class="summary-price">
                            <p class="summary-text">{{ calculation.getConvenienceFee | currency:'Rs.' }}</p>
                          </div>
                        </div>
                      </div>
                      <div class="summary-content">
                        <div class="summary-head">
                          <h5 class="summary-title"><strong>Total Amount</strong></h5>
                        </div>
                        <div class="summary-price">
                          <p class="summary-text"><strong>{{ calculation.getTotalAmount | currency:'Rs.' }}</strong></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-previous"><i
                  class="fas fa-backward"></i>
                Previous</button>
              <button (click)="areYouSurePayYes()" type="button" class="btn btn-submit">PAY</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div style="clear:both"></div>
      <br />
      <br />
    </div>
  </div>
</section>
<!--addd partners modal-->
<div class="float-center">
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ backdrop: true, ignoreBackdropClick: true }">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 font-weight-bold">Add Director(s)</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div [hidden]="visiblePartnerDetailBlock" class="form-group col-md-6 nic-field-wrapper">
            <label class="col-form-label col-form-label-sm">NIC No
              <span class="req">*</span>
            </label>
            <input (input)="nicValidate(nic)" pattern="[0-9]{9}[x|X|v|V]|[0-9]{12}" maxlength="12" name="nic"
              [(ngModel)]="nic" class="form-control form-control-sm modal-input-director-nic" placeholder="NIC">
            <span class="req-message">Valid NIC required</span>
            <br>
            <!-- <span *ngIf="directorAlreadyExistMessage" class="already-exist-message">{{directorAlreadyExistMessage}}</span> -->
            <button [disabled]="!enableNic" (click)="clickNic()"
              class="btn btn-success nic-continue-button">continue</button>
          </div>
          <div [hidden]="!visiblePartnerDetailBlock" class="nic-check-block">
            <div class="form-group row">
              <label class="col col-form-label col-form-label-sm">Full name of director
                <span class="req">*</span></label>
              <div class="col-sm-12">
                <input [readonly]="isReadOnly" (input)="secretaryFirmValidationStep3()" pattern="[a-zA-Z ]*"
                  class="form-control form-control-sm" name="full_name" maxlength="100"
                  [(ngModel)]="secretaryFirmPartners.name" placeholder="">
                <span class="req-message">Valid name required</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm">Residential Address
                <span class="req">*</span></label>
              <div class="col-sm-12">
                <input [readonly]="isReadOnly" (input)="secretaryFirmValidationStep3()"
                  class="form-control form-control-sm" name="address" maxlength="200"
                  [(ngModel)]="secretaryFirmPartners.residentialAddress" placeholder="">
                <span class="req-message">Valid address required</span>
              </div>
            </div>
            <div class="form-group row">
              <div class="form-group col-md-3"><label class="col-form-label col-form-label-sm">Citizenship
                  <span class="req">*</span></label>
                <input [readonly]="isReadOnly" (input)="secretaryFirmValidationStep3()" pattern="[a-zA-Z ]*"
                  class="form-control form-control-sm" name="citizenship" maxlength="50"
                  [(ngModel)]="secretaryFirmPartners.citizenship" placeholder="">
                <span class="req-message">Valid input required</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm">Professional Qualifications
                <span class="req">*</span>
              </label>
              <div class="col-sm-12">
                <input [readonly]="isReadOnly" (input)="secretaryFirmValidationStep3()"
                  class="form-control form-control-sm" name="professional_qualifications" maxlength="200"
                  [(ngModel)]="secretaryFirmPartners.pQualification" placeholder="">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-12 col-form-label col-form-label-sm">Sub-clause of regulation 2(1)(b) under
                which
                applicant is qualified?
                </label>
              <div class="col-sm-12">
                <input [disabled]="disablePartner" [readonly]="isReadOnly" (input)="secretaryFirmValidationStep3()" class="form-control form-control-sm" name="qualified"
                  maxlength="100" [(ngModel)]="secretaryFirmPartners.whichQualified">
                <span class="req-message">Valid reason required</span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="resetFirmPartnerDetails()" style="background-color: #bbb!important;" type="button" mdbBtn
            color="secondary" class="btn btn-previous" mdbWavesEffect>RESET</button>&nbsp;
          <button [disabled]="!enablePartnerSubmission" type="button" mdbBtn color="secondary"
            (click)="addSecretaryFirmPartnerDetailsToArray(); secretaryFirmValidationStep2(); secretaryFirmValidationStep3(); frame.hide();"
            class="btn btn-sm relative waves-light add-new-stakeholder add-director" mdbWavesEffect>ADD</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="payment-success-wrapper pay-block-wrapper" *ngIf="blockBackToForm">
  <div class="payment-success-body">
    <div class="header">
      <h2>Are you sure want to proceed further?</h2>
    </div>
    <div class="body">
      <!-- <p>If yes, you will not be able to revert back.</p> -->
    </div>
    <div class="footer">
      <button class="btn btn-success" (click)="secretaryFirmDataSubmit()">Yes</button>
      <button class="btn btn-danger" (click)="areYouSureNo()">No</button>
    </div>
  </div>
</div>
<div class="payment-success-wrapper pay-block-wrapper" *ngIf="blockPayment">
  <div class="payment-success-body">
    <div class="header">
      <h2>Are you sure want to proceed further?</h2>
    </div>
    <div class="body">
      <p>If yes, you will not be able to revert back.</p>
    </div>
    <div class="footer">
      <form ngNoForm action="{{ paymentGateway }}" method="post">
        <input type="hidden" [(ngModel)]="cipher_message" name="clientPaymentRequest">
        <button type="submit" class="btn btn-success" (click)="getCipherToken()">Yes</button>
        <button class="btn btn-danger" (click)="areYouSurePayNo()">No</button>
      </form>
    </div>
  </div>
</div>