<div class="clearfix">
</div>
<section class="top-margin">
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">


      <!--end left col-->


      <div class="col-md-11 nopadding">


        <div class="f1">

          <h3 style="text-align: center">CORRESPONDENCE</h3>
          <p style="text-align: center">Fill in all steps for completing the process.</p>
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="4.17" data-number-of-steps="12" [ngStyle]="{'width': progress.progressPercentage}"></div>
            </div>



            <div *ngFor="let item of progress['stepArr']; let i = index" class="f1-step {{item.status}} status-{{i}}">
              <div class="f1-step-icon">
                <i class="{{item.icon}}"></i>
              </div>
              <p>{{item.label}}</p>
            </div>

          </div>

          <fieldset [hidden]="stepOn != 0">

            <div class="comapny_global_resumit_message_wrapper alert alert-danger" *ngIf="externalGlobComment">
                  <p style="text-align:center">{{externalGlobComment}}</p>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm">Company Type</label>
              <div class="col-sm-9">{{compayType.value}}
              </div>

            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm">Name of the Company</label>
              <div class="col-sm-9">{{companyInfo.name}}{{ companyInfo.name ? ' '+ postFixEn : '' }}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm">Registration Number</label>
              <div class="col-sm-9">{{companyRegNumber}}
              </div>
            </div>
            

          
            <div class="f1-buttons">

              <button  type="button" class="btn btn-next" id="btn1-next" (click)="changeProgressStatuses(1)">Next
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>


          <fieldset [hidden]="stepOn != 1">
              <div class="comapny_global_resumit_message_wrapper alert alert-danger" *ngIf="externalGlobComment">
                  <p style="text-align:center">{{externalGlobComment}}</p>
              </div>
           
              

              <div class="share-summery-records" >

                   <div class="corr-letter">
                      <div class="to" style="margin-bottom:20px;font-size: 14px;">
                          Mr. D. N. R. Siriwardena,<br/>
                          Registrar General of Companies,<br/>
                          No. 400, D. R. Wijewardena Mawatha,<br/>
                          Colombo 10.
                      </div>
                      <p style="margin-top:15px;">Dear Sir,</p>
                      <div class="subject">
                        <input style="width: 98%; display: inline-block;margin-bottom: 20px;padding:20px;"  (input)="validateCharge()" [(ngModel)]="charge.subject"
                        [ngModelOptions]="{standalone: true}" class="form-control form-control-sm modal-input-director-mobile"
                        placeholder="Enter the subject here">
                        <span style="position: relative;
                        top: -13px;
                        font-size: 20px;" class="req">*</span>
                      </div>
                      <div class="body">

                          <textarea style="width: 98%; display: inline-block;margin-bottom: 10px; min-width: auto;"   [(ngModel)]="charge.message"
                          [ngModelOptions]="{standalone: true}"
                          class="form-control form-control-sm modal-input-director-oppointment"
                          placeholder="Enter your message here" 
                          (input)="validateCharge()"
                          ></textarea><span style="    position: relative;
                          top: -60px;
                          font-size: 20px;" class="req">*</span>

                      </div>

                      <p>Thank You.</p>
                      <div class="send-person-info" *ngIf="loginUserInfo['is_srilankan'] == 'no'"  style="font-size: 14px;">
                        {{loginUserInfo['first_name']}} {{loginUserInfo['last_name']}}<br/>
                        {{loginUserAddress['address1']}}, {{loginUserAddress['address2']}}, {{loginUserAddress['city']}}, {{loginUserAddress['province']}}, {{loginUserAddress['postcode']}},{{loginUserAddress['country']}}.<br/>
                        {{loginUserInfo['mobile']}}<br/>
                        {{loginUserInfo['email']}}

                      </div>
                      <div class="send-person-info" *ngIf="loginUserInfo['is_srilankan'] != 'no'"  style="font-size: 14px;">
                          {{loginUserInfo['first_name']}} {{loginUserInfo['last_name']}}<br/>
                          {{loginUserAddress['address1']}}, 
                          {{ loginUserAddress['address2'] ? loginUserAddress['address2']+',' : '' }}
                           {{loginUserAddress['postcode']}},
                           {{loginUserAddress['country']}}.<br/>
                          {{loginUserInfo['mobile']}}<br/>
                          {{loginUserInfo['email']}}
  
                        </div>
                        <div style="clear:both"></div>
                   </div>


                    <div class="form-row">
                        <div class="form-group col-md-12">
                       <!--   <label class="col-form-label col-form-label-sm">Message<span class="req">*</span></label>
                        <textarea  [(ngModel)]="charge.message"
                                  [ngModelOptions]="{standalone: true}"
                                  class="form-control form-control-sm modal-input-director-oppointment"
                                  placeholder="" 
                                  (input)="validateCharge()"
                                  ></textarea> -->
                                <!--  <angular-editor [ngModelOptions]="{standalone: true}" [(ngModel)]="charge.message" [config]="config" (input)="validateCharge()"></angular-editor> -->
                        </div>
                      
                        
                    </div>

                <!--    <div class="form-row">
                        <div class="form-group col-md-12">
                          <h3 style="font-size: 14px;margin-top: 10px;text-transform: none;">Please provide atleast one contact information<span class="req">*</span></h3>
                        </div>

                     </div>

                     <div class="form-row" style="    border: 1px solid #ccc;padding: 20px;">
                        <div class="form-group col-md-12">
                            <label class="col-form-label col-form-label-sm">Mobile Number</label>
                            <input maxlength="10" pattern="\d{10}" (input)="validateCharge()" [(ngModel)]="charge.contact_mobile"
                              [ngModelOptions]="{standalone: true}" class="form-control form-control-sm modal-input-director-mobile"
                              placeholder="">
                            <span  class="req-message">10 Digits mobile number is requried</span>
      
                          </div>
  
  
                          <div class="form-group col-md-12">
                            <label class="col-form-label col-form-label-sm">Contact Email</label>
                            <input pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" (input)="validateCharge()"
                            [(ngModel)]="charge.contact_email" [ngModelOptions]="{standalone: true}" class="form-control form-control-sm"
                            placeholder="">
                          <span class="req-message">Invalid Email </span>
      
                          </div>
                     </div> -->

                    <br/>
                

              </div>
  
            
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(0)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
                Previous</button>
                <button [disabled] ="!validShareRecordItem"   (click)="submitRecord()" type="button" class="btn btn-next">Next <i class="fas fa-forward"></i></button>
              <!--<button *ngIf="!share_records_already_exists"  [disabled]="!(enableStep2Submission)" (click)="submitShareRecord()" type="button" class="btn btn-next">Next <i class="fas fa-forward"></i></button>
              <button *ngIf="share_records_already_exists"  (click)="changeProgressStatuses(4)" type="button" class="btn btn-next">Next <i class="fas fa-forward"></i></button>-->
            </div>

        </fieldset>
     


        <fieldset [hidden]="stepOn != 2">

            <div class="comapny_global_resumit_message_wrapper alert alert-danger" *ngIf="externalGlobComment">
                <p style="text-align:center">{{externalGlobComment}}</p>
            </div>

            <div class="container uploaded-container">

                <div *ngFor="let doc of uploadList['docs']; let i = index">
  
                  <div class="row uploaded-row">
  
                    <div class="col-9 doc">
                      <h3>{{doc.file_name}} <span *ngIf="doc.is_admin_requested" class="request_roc">(requested by ROC)</span> <span *ngIf="doc.is_required" class="req">*</span></h3>
                    </div>
                    <div class="col-3 no-padding">
  
  
                      <label style="float:right" for="other-{{i}}" class="upload-wrapper btn btn-primary btn-sm download">
                        <i class="fas fa-cloud-upload-alt"></i> Upload
                      </label>
                      <input style="display:block;position: fixed;top:-100000px" id="other-{{i}}" type="file" (change)="fileChange($event,doc.file_name,doc.dbid)"
                        placeholder="Upload file" accept=".pdf">
  
                    </div>
  
                    <div class="col-12 uploaded-doc" *ngIf="doc.uploaded_path">

                        {{doc.uploaded_path}}

                        <button *ngIf="!doc.is_admin_requested" (click)="removeDoc(doc.dbid )"  class="button red button-sm remove-file">
                            <i class="fas fa-trash-alt"></i> Delete
                            </button>
                      
                        <button *ngIf="doc.uploaded_token"  (click)="ngOnDownload(doc.uploaded_token)"   class="view-file button blue button-sm">
                            <i class="far fa-file-pdf"></i> View
                        </button>


                     
                    </div>
                    <div style="clear:both;width:100%" class="document-comment" *ngIf="doc.doc_comment">
                      <strong>Comments:</strong> {{doc.doc_comment}}
                    </div>
  
                  </div>
  
                </div>
  
  
              </div>
            
           <div style="margin-bottom:6px" class="container uploaded-container">

                <div class="row uploaded-row">
  
                  <div class="col-4 doc">
                    <h3>Other Documents
                      <p style="font-size: 12px;color: darkorange;text-transform: none;" class="other_doc_des">You can upload any number of documents here</p>
                    </h3>
                  </div>
                  <div class="col-5">
                    <span style="float: left;width: 100%;margin-top: 2px">
                          <input style="width: 96%;padding:5px;padding: 0 5px;text-align: center;font-size: 14px;" [(ngModel)]="other_doc_name" name="other_doc_name" placeholder="Enter document name here" />
                          <span style="display: block;width: 4%; float: right;color: red;font-size: 24px;margin-top: -10px;">*</span>
                    </span>
                  </div>

                  <div class="col-3 no-padding">


                    <label style="float:right" for="other-docs" class="upload-wrapper btn btn-primary btn-sm download {{!other_doc_name ? 'disable' : '' }}">
                      <i class="fas fa-cloud-upload-alt"></i> Upload
                    </label>

                    
                    <input [disabled]="!other_doc_name"  style="display:block;position: fixed;top:-100000px" id="other-docs" type="file" (change)="uploadOtherDoc($event,'Other',uploadOtherList['doc_id'])"
                      placeholder="Upload file" accept=".pdf">

                  </div>

                  </div>

                <div  class="form-group" *ngFor="let doc of uploadOtherList['docs']; let j = index">
  
                  <div class=" uploaded-row">
  
                  
  
                    <div style="font-size:12px;" class="uploaded-doc" *ngIf="doc.uploaded_path">

                        {{doc.uploaded_path}}

                        <button style="float: right; font-size: 12px;padding: 5px !important;" (click)="removeOtherDoc(doc.uploaded_token )"  class="button red button-sm">
                            <i class="fas fa-trash-alt"></i> Delete
                         </button>
                      
                        <button style="float: right; font-size: 12px;padding: 5px !important;margin-right:4px;" *ngIf="doc.uploaded_token"  (click)="ngOnDownload(doc.uploaded_token)"   class="button blue button-sm">
                            <i class="far fa-file-pdf"></i> View
                        </button>


                     
                    </div>
                    <div style="clear:both;width:100%" class="document-comment" *ngIf="doc.doc_comment">
                      <strong>Comments:</strong> {{doc.doc_comment}}
                    </div>
  
                  </div>
  
                </div>
                <div style="clear:both"></div>
  
  
              </div>
           
         <!-- <div class="f1-buttons">
            <button (click)="changeProgressStatuses(1)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
              Previous</button>
            <button [disabled]="!allFilesUploaded" (click)="changeProgressStatuses(3)" type="button" class="btn btn-next">Next <i class="fas fa-forward"></i></button>

          </div> -->


          <div class="f1-buttons">
            <button (click)="changeProgressStatuses(1)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
              Previous</button>
            <button [disabled]="!allFilesUploaded" *ngIf="moduleStatus == 'CORRESPONDENCE_PROCESSING'"   (click)="submit()" type="button" class="btn btn-next"> Complete
                  <i class="fas fa-edit"></i>
            </button>

            <button [disabled]="!allFilesUploaded" *ngIf="moduleStatus == 'CORRESPONDENCE_RESUBMIT'"  (click)="resubmit()" type="button" class="btn btn-next"> Resubmit
                <i class="fas fa-check-double"></i>
            </button>
            
          </div>

        </fieldset>
        <!-- end of 11th step -->

      <!--  <fieldset [hidden]="stepOn != 3">

          <div class="comapny_global_resumit_message_wrapper alert alert-danger" *ngIf="externalGlobComment">
                <p style="text-align:center">{{externalGlobComment}}</p>
          </div>

          <div class="payment-table" *ngIf="moduleStatus == 'COMPANY_NOTICE_PROCESSING'">
  

              <div class="payment-row header">
                  <div class="payment-row-inner">
                <div class="payment-cell">
                  Payment Description
                </div>
               
                <div class="payment-cell">
                 Unit Price (LKR)
                </div>
                <div class="payment-cell" style="text-align:right">
                    Sub Total (LKR)
                </div>
                </div>

              </div>
              
              <div class="payment-row">
            
              <div class="payment-row-inner">
                <div class="payment-cell">
                 Form 22
                </div>
              
                <div class="payment-cell" >
                     {{ ( form22_payment | currency ).replace('$','') }}
                </div>
                <div class="payment-cell" style="text-align:right">

                    {{ ( form22_payment | currency ).replace('$','') }}

               
                  </div>

              </div>
              </div>

          
              <br/>


              <div class="payment-row" style="font-weight: bold;
              color: #111;" >

                  <div class="payment-row-inner">

                  <div class="payment-cell">
                      TOTAL FEE in LKR( Without VAT and Taxes) :
                    </div>
                   
                    <div class="payment-cell">
  
                    </div>
                    <div class="payment-cell"  style="text-align:right">
    
                        {{ ( total_wihtout_vat_tax | currency).replace('$','')}}
     
                    
                      </div>

                      </div>

              </div>

              <div class="payment-row" style="font-weight: bold;
              color: #111;" >
              <div class="payment-row-inner">

                  <div class="payment-cell">
                     Other Taxes in LKR&nbsp;( {{ other_tax}}%) :
                    </div>
                    
                    <div class="payment-cell">
  
                    </div>
                    <div class="payment-cell"  style="text-align:right">
    
                        {{  ( other_taxVal | currency ).replace('$','') }}
     
                    
                      </div>

                      </div>

              </div>

              <div class="payment-row" style="font-weight: bold;
              color: #111;" >
              <div class="payment-row-inner">

                  <div class="payment-cell">
                     VAT in LKR&nbsp;( {{ vat}}%) :
                    </div>
                    
                    <div class="payment-cell">
  
                    </div>
                    <div class="payment-cell"  style="text-align:right">
    
                       
                        {{  ( vatVal | currency ).replace('$','') }}
                    
                      </div>

                      </div>

              </div>


              <div class="payment-row" style="font-weight: bold;
              color: #111;" >
              <div class="payment-row-inner">

                  <div class="payment-cell">
                    Convenience fee&nbsp;({{convinienceFee}}%) :
                    </div>
                    
                    <div class="payment-cell">
  
                    </div>
                    <div class="payment-cell"  style="text-align:right">
                        {{  ( convinienceFeeVal | currency ).replace('$','') }}
                       
                      
                    
                      </div>

                      </div>

              </div>

            



              <div class="payment-row header" style=" background: #02001b;">

                  <div class="payment-row-inner">


                <div class="payment-cell">
                  TOTAL FEE in LKR :
                </div>
                
                <div class="payment-cell no-of-copies">

                  </div>
                <div class="payment-cell" style="    font-size: 16px;
                color: #fff; text-align:right;">
                {{ ( total_with_vat_tax | currency ).replace('$','') }}
                </div>

                </div>
                

              </div>

            </div>
          <div class="resubmit-message-block alert alert-primary" *ngIf="moduleStatus == 'COMPANY_NOTICE_RESUBMIT'">
             <p style="text-align:center">Please complete \the process by clicking below resubmit button</p>
          </div>

          <div class="f1-buttons">
            <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-previous"><i class="fas fa-backward"></i>
              Previous</button>
            <button *ngIf="moduleStatus == 'COMPANY_NOTICE_PROCESSING'"   (click)="pay()" type="button" class="btn btn-next"> Complete/Pay
                  <i class="fas fa-edit"></i>
            </button>

            <button *ngIf="moduleStatus == 'COMPANY_NOTICE_RESUBMIT'"  (click)="resubmit()" type="button" class="btn btn-next"> Resubmit
                <i class="fas fa-check-double"></i>
            </button>
            
          </div>

        </fieldset> -->
      
        </div>

      </div>
      <div style="clear:both"></div>
      <br />
      <br />
      <!--end right col main-->
    </div>
  </div>
</section>


<div class="payment-success-wrapper" *ngIf="payConfirm" >

    <div class="payment-success-body">
  
      <div class="header">
  
        <h2>Payment Confirmation</h2>
      </div>
  
      <div class="body">
         <p>Please confirm your payment by clicking below button.</p>
      </div>
  
      <div class="footer">
        <div style="text-align: center">
          <form  ngNoForm action="{{ paymentGateway }}" method="post">
            <input type="hidden" [(ngModel)]="cipher_message" name="clientPaymentRequest">
            <button type="submit" class="btn btn-success col-md-8">&nbsp;<i class="far fa-credit-card"></i>&nbsp;Confirm and Continue Payment</button>
          </form>
        </div>
  
      </div>
  
      
    </div>
  
  
  
  </div>

  <div class="payment-success-wrapper" *ngIf="submitSuccess">

    <div class="payment-success-body">
  
      <div class="header">
  
        <h2>Success</h2>
      </div>
  
      <div class="body">
        <p>You have successfully submitted your request</p>
      </div>
  
      <div class="footer">
         
        <button class="btn btn-success" (click)="submitMessageClick()">ok</button>
      </div>
    </div>
  
  
  
  </div>  

  <div class="payment-success-wrapper" *ngIf="resubmitSuccess">

    <div class="payment-success-body">
  
      <div class="header">
  
        <h2>Success</h2>
      </div>
  
      <div class="body">
        <p>You have successfully resubmitted the  record for verification</p>
      </div>
  
      <div class="footer">
         
        <button class="btn btn-success" (click)="resubmitMessageClick()">ok</button>
      </div>
    </div>
  
  
  
  </div>  