<div class="clearfix top-margin">
</div>
<section>
  <div class="container" style="padding-bottom: 50px;">
    <div class="row">
      <div class="col-md-11 nopadding">
        <form role="form" method="post" class="f1">
          <h3 style="text-align: center">secretary registration form (individual resubmit)</h3>
          <p style="text-align: center">Fill in all steps for completing resubmit process.</p>
          <div class="f1-steps">
            <div class="f1-progress">
              <div class="f1-progress-line" data-now-value="10" data-number-of-steps="5"
                [ngStyle]="{'width': progress.progressPercentage}"></div>
            </div>
            <div *ngFor="let item of progress['stepArr']; let i = index" class="f1-step {{item.status}}">
              <div class="f1-step-icon">
                <i class="{{item.icon}}"></i>
              </div>
              <p>{{item.label}}</p>
            </div>
          </div>
          <fieldset [hidden]="stepOn != 0">
            <div class="secretary personal details section">
              <div class="form-group row">
                <div class="form-group col-md-2"><label class="col-form-label col-form-label-sm">Title
                    <span class="req">*</span></label><select (change)="secretaryValidationStep1()"
                    class="form-control form-control-sm modal-input-director-title ng-pristine ng-valid ng-touched"
                    name="title" [(ngModel)]="secretaryDetails.title">
                    <option value="">Choose...</option>
                    <option *ngFor="let ititle of data.ititles" value="{{ ititle.id }}" id="{{ ititle.id }}">{{
                      ititle.value }}</option>
                  </select>
                </div>
                <div class="form-group col-md-5"><label class="col-form-label col-form-label-sm">First Name(s)
                    <span class="req">*</span></label>
                  <input (input)="secretaryValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    name="first_name" maxlength="100" [(ngModel)]="secretaryDetails.firstname" placeholder="First Name">
                  <span class="req-message">Valid name required</span>
                </div>
                <div class="form-group col-md-5"><label class="col-form-label col-form-label-sm">Last Name
                    <span class="req">*</span></label>
                  <input (input)="secretaryValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    name="last_name" maxlength="100" [(ngModel)]="secretaryDetails.lastname" placeholder="Surname">
                  <span class="req-message">Valid name required</span>
                </div>
              </div>
              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Other Names
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep1()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                    name="other_name" maxlength="100" [(ngModel)]="secretaryDetails.othername"
                    placeholder="Other Names">
                  <span class="req-message">Valid name required</span>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Full Name in Sinhala
                  </label>
                  <input class="form-control form-control-sm sinhalaname" id="sinhalaname" maxlength="190"
                    [(ngModel)]="sinFullName" [ngModelOptions]="{standalone: true}" (keyup)='this.loadsinhala()'>
                  <small class="text text-danger float-right">Press the space bar after each word</small>
                </div>
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Full Name in Tamil
                  </label>
                  <input class="form-control form-control-sm tamilname" id="tamilname" maxlength="190"
                    [(ngModel)]="tamFullName" [ngModelOptions]="{standalone: true}" (keyup)='this.loadTamil()'>
                  <small class="text text-danger float-right">Press the space bar after each word</small>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Email Address
                    <span class="req">*</span>
                  </label>
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm email" id="email"
                    type="email" maxlength="90" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                  <span class="req-message">Valid email requried</span>
                </div>
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Mobile No
                    <span class="req">*</span>
                  </label>
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm mobile" id="mobile"
                    maxlength="10" [(ngModel)]="mobile" pattern="\d{10}" type="tel"
                    [ngModelOptions]="{standalone: true}">
                  <span class="req-message">10 Digits mobile number requried</span>
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-6"><label class="col-form-label col-form-label-sm">Resident Telephone No
                  </label>
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm tel" id="tel"
                    maxlength="10" [(ngModel)]="tel" pattern="\d{10}" type="tel" [ngModelOptions]="{standalone: true}">
                  <span class="req-message">10 Digits telephone number requried</span>
                </div>
              </div>
              <br>
              <hr width="100%" colour="#000000">
              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-form-label-sm">Residential Address
                  <span class="req">*</span>
                </label>
                <div class="col-sm-4">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm"
                    name="residential_address1" maxlength="100" [(ngModel)]="secretaryDetails.residentialLocalAddress1"
                    placeholder="Address1">
                  <span class="req-message">Valid address required</span>
                </div>
                <div class="col-sm-4">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm"
                    name="residential_address2" maxlength="100" [(ngModel)]="secretaryDetails.residentialLocalAddress2"
                    placeholder="Address2">
                  <span class="req-message">Valid address required</span>
                </div>
                <div class="col-sm-4">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm"
                    name="residential_postcode" maxlength="100" [(ngModel)]="secretaryDetails.residentialPostCode"
                    placeholder="Post Code">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> Province
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryValidationStep1()"
                    (ngModelChange)="this.secretaryDetails.residentialDistrict = undefined;this.secretaryDetails.residentialCity = undefined;this.secretaryDetails.rgnDivision = undefined;"
                    class="custom" placeholder="Province" [searchable]="true"
                    [(ngModel)]="secretaryDetails.residentialProvince" [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let province of data.provinces" [value]="province">{{
                      province.description_en }}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> District
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryValidationStep1()"
                    (ngModelChange)="this.secretaryDetails.residentialCity = undefined;this.secretaryDetails.rgnDivision = undefined;"
                    class="custom" placeholder="District" [searchable]="true"
                    [(ngModel)]="secretaryDetails.residentialDistrict" [ngModelOptions]="{standalone: true}">
                    <ng-option
                      *ngFor="let district of this.data.districts | district:secretaryDetails.residentialProvince"
                      [value]="district">{{
                      district.description_en }}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> City
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryValidationStep1()"
                    (ngModelChange)="this.secretaryDetails.rgnDivision = undefined;" class="custom" placeholder="City"
                    [searchable]="true" [(ngModel)]="secretaryDetails.residentialCity"
                    [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let city of data.citys | city:secretaryDetails.residentialDistrict"
                      [value]="city">{{city.description_en}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> GN Division
                  <span class="req">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryValidationStep1()" class="custom" placeholder="GN Division"
                    [searchable]="true" [(ngModel)]="secretaryDetails.rgnDivision"
                    [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let gndivision of data.gndivisions | gndivision:secretaryDetails.residentialCity"
                      [value]="gndivision">{{gndivision.description_en}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <br>
              <hr width="100%" colour="#000000">
              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Business Name, (if any)
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm" name="business_name"
                    maxlength="100" [(ngModel)]="secretaryDetails.businessName" placeholder="Business Name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-12 col-form-label col-form-label-sm">Business Address
                </label>
                <div class="col-sm-4">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm"
                    name="business_address1" maxlength="100" [(ngModel)]="secretaryDetails.businessLocalAddress1"
                    placeholder="Address1">
                </div>
                <div class="col-sm-4">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm"
                    name="business_address2" maxlength="100" [(ngModel)]="secretaryDetails.businessLocalAddress2"
                    placeholder="Address2">
                </div>
                <div class="col-sm-4">
                  <input (input)="secretaryValidationStep1()" class="form-control form-control-sm"
                    name="business_postcode" maxlength="100" [(ngModel)]="secretaryDetails.businessPostCode"
                    placeholder="Post Code">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> Province
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryValidationStep1()"
                    (ngModelChange)="this.secretaryDetails.businessDistrict = undefined;this.secretaryDetails.businessCity = undefined;this.secretaryDetails.bgnDivision = undefined;"
                    class="custom" placeholder="Province" [searchable]="true"
                    [(ngModel)]="secretaryDetails.businessProvince" [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let province of data.provinces" [value]="province">{{
                      province.description_en }}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> District
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryValidationStep1()"
                    (ngModelChange)="this.secretaryDetails.businessCity = undefined;this.secretaryDetails.bgnDivision = undefined;"
                    class="custom" placeholder="District" [searchable]="true"
                    [(ngModel)]="secretaryDetails.businessDistrict" [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let district of this.data.districts | district:secretaryDetails.businessProvince"
                      [value]="district">{{
                      district.description_en }}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> City
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryValidationStep1()"
                    (ngModelChange)="this.secretaryDetails.bgnDivision = undefined;" class="custom" placeholder="City"
                    [searchable]="true" [(ngModel)]="secretaryDetails.businessCity"
                    [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let city of data.citys | city:secretaryDetails.businessDistrict" [value]="city">
                      {{city.description_en}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm"> GN Division
                </label>
                <div class="col-sm-9">
                  <ng-select (change)="secretaryValidationStep1()" class="custom" placeholder="GN Division"
                    [searchable]="true" [(ngModel)]="secretaryDetails.bgnDivision"
                    [ngModelOptions]="{standalone: true}">
                    <ng-option *ngFor="let gndivision of data.gndivisions | gndivision:secretaryDetails.businessCity"
                      [value]="gndivision">{{gndivision.description_en}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <label f class="col-sm-12 col-form-label col-form-label-sm">Sub-clause of regulation 2(1)(b) under
                  which
                  applicant is qualified?
                </label>
                <div class="col-sm-12">
                  <select (change)="secretaryValidationStep1(); changeSubClause();"
                    class="form-control form-control-sm modal-input-director-title ng-pristine ng-valid ng-touched"
                    name="qualified" [(ngModel)]="secretaryDetails.subClauseQualified">
                    <option value="">Choose...</option>
                    <option value="(1)b(i)">(1)b(i) - An attorney at law</option>
                    <option value="(1)b(ii)">(1)b(ii) - Member of chartered accountants of Sri Lanka</option>
                    <option value="(1)b(iii)">(1)b(iii) - Member of an association of chartered secretaries and
                      administrators in Sri Lanka</option>
                    <option value="(1)b(iv)">(1)b(iv) - Member of the association of cost and management accounting
                    </option>
                    <option value="(1)b(v)">(1)b(v) - Member of an association or institute approved by the Minister,
                      which provide a course in company law or company secretarial practice</option>
                    <option value="(1)b(vi)">(1)b(vi) - Any special qualifications in related to company secretarial
                      work form an institution or other body approval by the minister</option>
                    <option value="(1)b(vii)">(1)b(vii) - Holding or having held any other position or his being a
                      member of any other body in the public or private sector</option>
                    <option title="(1)b(viii) - On the day Immediately prior to the date of the coming in 
                    to operation of the companies Act No. 17 of 1982 held the office at Secretary or deputy secretary 
                    or assistant secretary of a company and satisfied the registrar   of his competence to discharge the duties of a secretary" value="(1)b(viii)">(1)b(viii) - On the day Immediately prior to the date of the coming in 
                        to operation of the companies Act No. 17 of 1982 held the office at Secretary or deputy secretary 
                        or assistant secretary of a company and satisfied the registrar   of his competence to discharge the duties of a secretary</option>
                    <option value="(1)b(ix)">(1)b(ix) - Member of the Institute of Certified Management Accountants of Sri Lanka</option>  
                  </select>
                  <span *ngIf="secretaryDetails.subClauseQualified === '(1)b(vii)'" class="req"><small>You need to face an interview</small></span>
                  <span *ngIf="secretaryDetails.subClauseQualified === '(1)b(vii)'" class="req"><small><br>You have to bring following documents for the interview.<br>1.National Identity Card<br>2.Educational and Professional certificates<br>3.Service letter<br>4.Originals of above documents to be submitted at the interview and the interview will be held on December and the date will notify by email and will publish at ROC website.For any clarification please contact Secretaries and Auditors branch on 0112689215.</small></span>
                </div>
              </div>
            </div>
            <div class="f1-buttons">
              <button [disabled]="!enableStep1Submission" type="button" class="btn btn-next" id="btn1-next"
                (click)="changeProgressStatuses(1)">Next
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <fieldset [hidden]="stepOn != 1">
            <div class="secretary other details section">
              <div class="form-group row">
                <label f class="col-sm-3 col-form-label col-form-label-sm">Applicant Work History</label>
                <div class="col-sm-12">
                  <div class="director-secton stakeholder-section">
                    <div class="add-new-wrapper director-add-new-wrapper">
                      <h2>
                        <span class="add-new-wrapper-label">Work History</span>
                        <div class="line"></div>
                        <!-- <button type="button" mdbBtn class="relative waves-light add-new-stakholder" (click)="frame.show()"
                          mdbWavesEffect>
                          <i class="fa fa-plus"></i> Add New</button> -->
                      </h2>
                      <div class="director-list stakeholder-list-wrapper">
                        <div *ngFor="let item of workHistory; let i = index" class="director-record stakeholder-record"
                          style=" margin: 30px 0;border-radius: 20px;background: #fff;border: 1px solid rgb(243, 91, 63);">
                          <div (click)="showToggle(i)" class="stakeholder-record-summeru" style="background-color: #f35b3f;
                          color: #fff;
                          padding: 5px 10px;
                          font-weight: lighter;
                          font-size: 14px;
                          border-top-left-radius: 18px;
                          box-shadow: 1px 1px 2px #b3aea9;
                          border-top-right-radius: 18px;
                          cursor: pointer;
                          width: 100%;
                          border-radius: 20px;">

                            Worked in - {{item.companyName}} , {{item.position}} , from {{item.from}} , to
                            {{item.to}}

                            <!-- <span (click)="removeWorkHistoryFromArray(i); secretaryValidationStep2();" title="remove record"
                              style="float:right;" class="record-handler record-handler-remove">
                              <i class="fa fa-trash"></i>
                            </span> -->
                            <!-- <span title="show details" style="float:right; margin:0 15px" class="record-handler">
                              <i class="fa fa-eye"></i>
                            </span> -->
                            <span title="show details" style="float:right; margin:0 15px" class="record-handler">
                              <i class="fa fa-pencil-alt"></i>
                            </span>
                          </div>
                          <div *ngIf="hideAndshowWorkHistory && item.showEditPaneForWorkHistory"
                            [class]="'stakeholder-record-inner'" class="stakeholder-record-inner"
                            style="padding: 25px 10px 10px;">
                            <div class="edit-work-history">
                              <div class="modal-body">
                                <div class="form-group row">
                                  <label f class="col col-form-label col-form-label-sm">Name of public or private
                                    sector body applicant
                                    has served
                                    <span class="req">*</span></label>
                                  <div class="col-sm-12">
                                    <input (change)="secretaryValidationStep3()" class="form-control form-control-sm"
                                      id="c_name" name="company_name" maxlength="50"
                                      [(ngModel)]="workHistory[i].companyName" placeholder="Name of the company">
                                    <span class="req-message">Valid name required</span>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label f class="col-sm-3 col-form-label col-form-label-sm">Position held
                                    <span class="req">*</span></label>
                                  <div class="col-sm-12">
                                    <input (change)="secretaryValidationStep3()" pattern="[a-zA-Z ]*"
                                      class="form-control form-control-sm" id="p_name" name="position" maxlength="50"
                                      [(ngModel)]="workHistory[i].position" placeholder="Position held">
                                    <span class="req-message">Valid position required</span>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label f class="col col-form-label col-form-label-sm">Please mention the period of
                                    service</label>
                                </div>
                                <div class="form-group row">
                                  <div class="form-group col-md-3"><label class="col-form-label col-form-label-sm">From
                                      <span class="req">*</span></label>
                                    <input (input)="secretaryValidationStep3()"
                                      (change)="dateValidate('from');secretaryValidationStep3();" type="date"
                                      class="form-control form-control-sm" required id="from" name="from"
                                      [(ngModel)]="workHistory[i].from">
                                  </div>
                                  <div class="form-group col-md-3"><label class="col-form-label col-form-label-sm">To
                                      <span class="req">*</span></label>
                                    <input (input)="secretaryValidationStep3()"
                                      (change)="dateValidate('to');secretaryValidationStep3();" type="date"
                                      class="form-control form-control-sm" required id="to" name="to"
                                      [(ngModel)]="workHistory[i].to">
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer" style="justify-content: flex-end">
                                <button type="button" mdbBtn color="secondary"
                                  (click)="showToggle(i); secretaryValidationStep2(); secretaryValidationStep3();"
                                  class="btn btn-sm relative waves-light add-new-work-his add-director"
                                  mdbWavesEffect>EDIT</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="secretaryDetails.subClauseQualified" class="form-group row">
                <label f class="col-sm-12 col-form-label col-form-label-sm">Professional Qualifications
                  (<a href="https://www.gazette.lk/" target="_blank">Gazette</a>)
                </label>
                <div class="col-sm-12">
                  <input readonly (input)="secretaryValidationStep2()" class="form-control form-control-sm"
                    name="professional_qualifications" [(ngModel)]="secretaryDetails.pQualification">
                </div>
              </div>
              <div *ngIf="!secretaryDetails.pQualification" class="form-group row">
                <label f class="col-sm-12 col-form-label col-form-label-sm">Higher Educational Qualifications
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <textarea (input)="secretaryValidationStep2()" class="form-control form-control-sm"
                    name="educational_qualifications" maxlength="100" [(ngModel)]="secretaryDetails.eQualification"
                    placeholder=""></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label f class="col-sm-12 col-form-label col-form-label-sm">Evidence of Applicant's capability to
                  discharge the functions of Secretary of a Company
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep2()" class="form-control form-control-sm"
                    name="prior_work_experience" maxlength="100" [(ngModel)]="secretaryDetails.wExperience"
                    placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Have you been adjudged by a competent court
                  to be of unsound mind
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" type="radio" name="unsound"
                    [(ngModel)]="secretaryDetails.isUnsoundMind" value="no" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2(); isUnsoundMindPopUp();" type="radio" name="unsound"
                    [(ngModel)]="secretaryDetails.isUnsoundMind" value="yes" />
                  <span> Yes</span>
                </label>
              </div>
              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Have you been adjudged an insolvent or
                  bankrupt
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" name="bankrupt"
                    [(ngModel)]="secretaryDetails.isInsolventOrBankrupt" type="radio" value="no" (click)="show1()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" name="bankrupt"
                    [(ngModel)]="secretaryDetails.isInsolventOrBankrupt" type="radio" value="yes" (click)="show2()" />
                  <span> Yes</span>
                </label>
              </div>
              <div id="div1" class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Mention the reason
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep2()" class="form-control form-control-sm" name="reason1"
                    maxlength="100" [(ngModel)]="secretaryDetails.reason1" placeholder="Reason">
                </div>
              </div>
              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Have you been convicted by any competent
                  court in Sri Lanka / Overseas
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" name="competent"
                    [(ngModel)]="secretaryDetails.isCompetentCourt" type="radio" value="no" (click)="show3()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input (change)="secretaryValidationStep2()" name="competent"
                    [(ngModel)]="secretaryDetails.isCompetentCourt" type="radio" value="yes" (click)="show4()" />
                  <span> Yes</span>
                </label>
              </div>
              <div class="form-group" id="div2">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label col-form-label-sm">Mention the reason
                    <span class="req">*</span>
                  </label>
                  <label class="col-sm-2 col-form-label col-form-label-sm">
                    <input (change)="secretaryValidationStep2()" name="reason" [(ngModel)]="secretaryDetails.reason2"
                      type="radio" value="pardoned" />
                    <span> Pardoned</span>
                  </label>
                  <label class="col-sm-2 col-form-label col-form-label-sm">
                    <input (change)="secretaryValidationStep2()" name="reason" [(ngModel)]="secretaryDetails.reason2"
                      type="radio" value="appeal" />
                    <span> Appeal</span>
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label f class="col-sm-12 col-form-label col-form-label-sm">Any other particulars the applicant desires
                  to state</label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep2()" class="form-control form-control-sm" name="any_other"
                    maxlength="100" [(ngModel)]="secretaryDetails.otherDetails" placeholder="">
                </div>
              </div>
              <br>
              <hr style="border: 1px solid #f35b3f;">
              <div class="form-group row">
                <label f class="col-sm-5 col-form-label col-form-label-sm">Are you an existing registered secretary in
                  ROC
                  <span class="req">*</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input disabled (change)="secretaryValidationStep2()" type="radio" name="isexisting"
                    [(ngModel)]="secretaryDetails.isExistSec" value="0" (click)="show5()" />
                  <span> No</span>
                </label>
                <label class="col-sm-1 col-form-label col-form-label-sm">
                  <input disabled (change)="secretaryValidationStep2()" type="radio" name="isexisting"
                    [(ngModel)]="secretaryDetails.isExistSec" value="1" (click)="show6()" />
                  <span> Yes</span>
                </label>
              </div>
              <div id="div3" class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Certificate Number
                  <span class="req">*</span>
                </label>
                <div class="col-sm-12">
                  <input (input)="secretaryValidationStep2()" class="form-control form-control-sm" name="certificatenum"
                  minlength="6" maxlength="90" [(ngModel)]="secretaryDetails.certificateNo">
                  <span class="req-message">Minimum length 6</span>
                </div>
              </div>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(0)" type="button" class="btn btn-previous"><i
                  class="fas fa-backward"></i>
                Previous</button>
              <button [disabled]="!enableStep2Submission" (click)="areYouSureYes()" type="button"
                class="btn btn-next">Next
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <fieldset [hidden]="stepOn != 2">
            <div class="container download-container">
              <h3>Document List</h3>
              <div class="doc-block-wrapper">
                <div class="doc-block">
                  <h4>Application Form Download</h4>
                  <div class="download-application-row">
                    <div class="download-application-block">Application</div>
                    <div class="doc-download">
                      <a (click)="clickDownload()" target="_blank" download="doc.pdf"
                        class="btn btn-primary btn-sm download doc-download-link">
                        <i class="fas fa-cloud-download-alt"></i> Download
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(1)" type="button" class="btn btn-previous"><i
                  class="fas fa-backward"></i>
                Previous</button>
              <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-next">Next <i
                  class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <fieldset [hidden]="stepOn != 3">
            <div class="alert alert-warning" role="alert">
              <p>
                <small>Please upload all files in pdf format,upload only A4 Size, portrait orientation and file size
                  should be less
                  than 4 MB.</small>
              </p>
              <!-- <p>
                <small>Please remove cover page of 'ARTICLES OF THE ASSOCIATION' Document</small>.</p> -->
            </div>
            <hr>
            <div class="container uploaded-container">
              <div class="row upload-row" *ngIf="application.length">
                <div class="col-9 doc">
                  Application Forms
                </div>
                <div class="col-12" *ngFor="let item of application; let i = index">
                  <div class="col-12" *ngIf="item.setkey == 'DOCUMENT_REQUEST_TO_RESUBMIT'">
                    <div class="col-3 float-right" style="margin-top: -10px">
                      <label style="height: 37px; float:right;" for="app{{item.id}}"
                        class="upload-wrapper btn btn-primary btn-sm download">
                        <i class="fas fa-cloud-upload-alt"></i> Upload
                      </label>
                      <input style="display:block;position: fixed;top:-100000px" id="app{{item.id}}" type="file"
                        (change)="updateFileUploaded($event,item.id,'application','applicationUpload'); gotoSubmit();"
                        placeholder="Upload file" accept=".pdf">
                    </div>
                    <div>
                      <span style="color: red"><i class="fa fa-exclamation-triangle"></i>{{item.value}} {{' :-
                        '}}{{item.comment}}</span>
                    </div>
                  </div>
                  <div class="col-12 uploaded-doc" *ngIf="item.pdfname">
                    <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                    <button class="button red button-sm" [disabled]="item.setkey == 'DOCUMENT_APPROVED'"
                      (click)="fileDeleteResubmited(item.id,'applicationUpload',i)">
                      <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                      <i class="far fa-file-pdf"></i> View
                    </button>
                  </div>
                </div>
              </div>
              <hr *ngIf="regCertificateUploadList.length">
              <div class="row upload-row" *ngIf="regCertificateUploadList.length">
                <div class="col-9 doc">
                  Certificate
                </div>
                <div class="col-12" *ngFor="let item of regCertificateUploadList; let i = index">
                  <div class="col-12" *ngIf="item.setkey == 'DOCUMENT_REQUEST_TO_RESUBMIT'">
                    <div class="col-3 float-right" style="margin-top: -10px">
                      <label style="height: 37px; float:right;" for="cer{{item.id}}"
                        class="upload-wrapper btn btn-primary btn-sm download">
                        <i class="fas fa-cloud-upload-alt"></i> Upload
                      </label>
                      <input style="display:block;position: fixed;top:-100000px" id="cer{{item.id}}" type="file"
                        (change)="updateFileUploaded($event,item.id,'application','regCertificateUpload'); gotoSubmit();"
                        placeholder="Upload file" accept=".pdf">
                    </div>
                    <div>
                      <span style="color: red"><i class="fa fa-exclamation-triangle"></i>{{item.value}} {{' :-
                        '}}{{item.comment}}</span>
                    </div>
                  </div>
                  <div class="col-12 uploaded-doc" *ngIf="item.pdfname">
                    <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                    <button class="button red button-sm" [disabled]="item.setkey == 'DOCUMENT_APPROVED'"
                      (click)="fileDeleteResubmited(item.id,'regCertificateUpload',i)">
                      <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                      <i class="far fa-file-pdf"></i> View
                    </button>
                  </div>
                </div>
              </div>
              <hr *ngIf="eCertificateUploadList.length">
              <div class="row upload-row" *ngIf="eCertificateUploadList.length">
                <div class="col-9 doc">
                  Education Certificates
                </div>
                <div class="col-12" *ngFor="let item of eCertificateUploadList; let i = index">
                  <div class="col-12" *ngIf="item.setkey == 'DOCUMENT_REQUEST_TO_RESUBMIT'">
                    <div class="col-3 float-right" style="margin-top: -10px">
                      <label style="height: 37px; float:right;" for="ec{{item.id}}"
                        class="upload-wrapper btn btn-primary btn-sm download">
                        <i class="fas fa-cloud-upload-alt"></i> Upload
                      </label>
                      <input style="display:block;position: fixed;top:-100000px" id="ec{{item.id}}" type="file"
                        (change)="updateFileUploaded($event,item.id,'application','eCertificateUpload'); gotoSubmit();"
                        placeholder="Upload file" accept=".pdf">
                    </div>
                    <div>
                      <span style="color: red"><i class="fa fa-exclamation-triangle"></i>{{item.value}} {{' :-
                        '}}{{item.comment}}</span>
                    </div>
                  </div>
                  <div class="col-12 uploaded-doc" *ngIf="item.pdfname">
                    <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                    <button class="button red button-sm" [disabled]="item.setkey == 'DOCUMENT_APPROVED'"
                      (click)="fileDeleteResubmited(item.id,'eCertificateUpload',i)">
                      <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                      <i class="far fa-file-pdf"></i> View
                    </button>
                  </div>
                </div>
              </div>
              <hr *ngIf="pCertificateUploadList.length">
              <div class="row upload-row" *ngIf="pCertificateUploadList.length">
                <div class="col-3 doc" *ngIf="secretaryDetails.isExistSec === '1'">
                  Professional Certificates
                </div>
                <div class="col-3 doc" *ngIf="!(secretaryDetails.isExistSec === '1')">
                  Certificate of Membership
                </div>
                <div class="col-12" *ngFor="let item of pCertificateUploadList; let i = index">
                  <div class="col-12" *ngIf="item.setkey == 'DOCUMENT_REQUEST_TO_RESUBMIT'">
                    <div class="col-3 float-right" style="margin-top: -10px">
                      <label style="height: 37px; float:right;" for="pc{{item.id}}"
                        class="upload-wrapper btn btn-primary btn-sm download">
                        <i class="fas fa-cloud-upload-alt"></i> Upload
                      </label>
                      <input style="display:block;position: fixed;top:-100000px" id="pc{{item.id}}" type="file"
                        (change)="updateFileUploaded($event,item.id,'application','pCertificateUpload'); gotoSubmit();"
                        placeholder="Upload file" accept=".pdf">
                    </div>
                    <div>
                      <span style="color: red"><i class="fa fa-exclamation-triangle"></i>{{item.value}} {{' :-
                        '}}{{item.comment}}</span>
                    </div>
                  </div>
                  <div class="col-12 uploaded-doc" *ngIf="item.pdfname">
                    <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                    <button class="button red button-sm" [disabled]="item.setkey == 'DOCUMENT_APPROVED'"
                      (click)="fileDeleteResubmited(item.id,'pCertificateUpload',i)">
                      <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                      <i class="far fa-file-pdf"></i> View
                    </button>
                  </div>
                </div>
              </div>
              <hr *ngIf="practiceCertificateUploadList.length">
              <div class="row upload-row" *ngIf="practiceCertificateUploadList.length">
                <div class="col-3 doc">
                  Certificate to Practice
                </div>
                <div class="col-12" *ngFor="let item of practiceCertificateUploadList; let i = index">
                  <div class="col-12" *ngIf="item.setkey == 'DOCUMENT_REQUEST_TO_RESUBMIT'">
                    <div class="col-3 float-right" style="margin-top: -10px">
                      <label style="height: 37px; float:right;" for="cp{{item.id}}"
                        class="upload-wrapper btn btn-primary btn-sm download">
                        <i class="fas fa-cloud-upload-alt"></i> Upload
                      </label>
                      <input style="display:block;position: fixed;top:-100000px" id="cp{{item.id}}" type="file"
                        (change)="updateFileUploaded($event,item.id,'application','PracticeCertificateUpload'); gotoSubmit();"
                        placeholder="Upload file" accept=".pdf">
                    </div>
                    <div>
                      <span style="color: red"><i class="fa fa-exclamation-triangle"></i>{{item.value}} {{' :-
                        '}}{{item.comment}}</span>
                    </div>
                  </div>
                  <div class="col-12 uploaded-doc" *ngIf="item.pdfname">
                    <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                    <button class="button red button-sm" [disabled]="item.setkey == 'DOCUMENT_APPROVED'"
                      (click)="fileDeleteResubmited(item.id,'PracticeCertificateUpload',i)">
                      <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                      <i class="far fa-file-pdf"></i> View
                    </button>
                  </div>
                </div>
              </div>
              <hr *ngIf="experienceUploadList.length">
              <div class="row upload-row" *ngIf="experienceUploadList.length">
                <div class="col-9 doc">
                  Work Experience
                </div>
                <div class="col-12" *ngFor="let item of experienceUploadList; let i = index">
                  <div class="col-12" *ngIf="item.setkey == 'DOCUMENT_REQUEST_TO_RESUBMIT'">
                    <div class="col-3 float-right" style="margin-top: -10px">
                      <label style="height: 37px; float:right;" for="ex{{item.id}}"
                        class="upload-wrapper btn btn-primary btn-sm download">
                        <i class="fas fa-cloud-upload-alt"></i> Upload
                      </label>
                      <input style="display:block;position: fixed;top:-100000px" id="ex{{item.id}}" type="file"
                        (change)="updateFileUploaded($event,item.id,'application','experienceUpload'); gotoSubmit();"
                        placeholder="Upload file" accept=".pdf">
                    </div>
                    <div>
                      <span style="color: red"><i class="fa fa-exclamation-triangle"></i>{{item.value}} {{' :-
                        '}}{{item.comment}}</span>
                    </div>
                  </div>
                  <div class="col-12 uploaded-doc" *ngIf="item.pdfname">
                    <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                    <button class="button red button-sm" [disabled]="item.setkey == 'DOCUMENT_APPROVED'"
                      (click)="fileDeleteResubmited(item.id,'experienceUpload',i)">
                      <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                      <i class="far fa-file-pdf"></i> View
                    </button>
                  </div>
                </div>
              </div>
              <hr *ngIf="evidenceUploadList.length">
              <div class="row upload-row" *ngIf="evidenceUploadList.length">
                <div class="col-9 doc">
                  Evidence Documents
                </div>
                <div class="col-12" *ngFor="let item of evidenceUploadList; let i = index">
                  <div class="col-12" *ngIf="item.setkey == 'DOCUMENT_REQUEST_TO_RESUBMIT'">
                    <div class="col-3 float-right" style="margin-top: -10px">
                      <label style="height: 37px; float:right;" for="evd{{item.id}}"
                        class="upload-wrapper btn btn-primary btn-sm download">
                        <i class="fas fa-cloud-upload-alt"></i> Upload
                      </label>
                      <input style="display:block;position: fixed;top:-100000px" id="evd{{item.id}}" type="file"
                        (change)="updateFileUploaded($event,item.id,'application','evidenceUpload'); gotoSubmit();"
                        placeholder="Upload file" accept=".pdf">
                    </div>
                    <div>
                      <span style="color: red"><i class="fa fa-exclamation-triangle"></i>{{item.value}} {{' :-
                        '}}{{item.comment}}</span>
                    </div>
                  </div>
                  <div class="col-12 uploaded-doc" *ngIf="item.pdfname">
                    <span><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                    <button class="button red button-sm" [disabled]="item.setkey == 'DOCUMENT_APPROVED'"
                      (click)="fileDeleteResubmited(item.id,'evidenceUpload',i)">
                      <i class="fas fa-trash-alt"></i> Delete
                    </button>
                    <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                      <i class="far fa-file-pdf"></i> View
                    </button>
                  </div>
                </div>
              </div>
              <hr *ngIf="additional.length">
                  <div class="row upload-row" style="padding: 10px" *ngIf="additional.length">
                    <div class="col-9 doc">
                        Additional Documents
                    </div>
                    <div class="col-12" *ngFor="let item of additional; let i = index">
                      <div class="col-3 float-right" style="margin-top: -10px" *ngIf="!item?.pdfname">
                        <label for="ad{{item.id}}" style="height: 37px;"
                          class="upload-wrapper btn btn-primary btn-sm download">
                          <i class="fas fa-cloud-upload-alt"></i> Upload
                        </label>
                        <input style="display:block;position: fixed;top:-100000px" id="ad{{item.id}}" type="file"
                          (change)="updateFileUploaded($event,item.id,'none','additionalUpload')"
                          placeholder="Upload file" accept=".pdf">
                      </div>
                      <div class="col-6" *ngIf="item?.setkey == 'DOCUMENT_REQUESTED' || item?.setkey == 'DOCUMENT_REQUEST_TO_RESUBMIT'">
                        <span style="color: red"><i class="fa fa-exclamation-triangle"></i>{{item.value}} {{' :-
                          '}}{{item.comment}}</span>
                      </div>
                      <div class="col-12 uploaded-doc" *ngIf="item?.pdfname">
                        <span style="margin-right: 10px"><i class="fas fa-file-pdf"></i></span>{{item.pdfname}}
                        <button class="button red button-sm" [disabled]="item.setkey == 'DOCUMENT_APPROVED'"
                          (click)="fileDeleteResubmited(item.id,'additionalUpload',i)">
                          <i class="fas fa-trash-alt"></i> Delete
                        </button>
                        <button class="button blue button-sm " (click)="ngOnDownload(item.token)">
                          <i class="far fa-file-pdf"></i> View
                        </button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(2)" type="button" class="btn btn-previous"><i
                  class="fas fa-backward"></i>
                Previous</button>
              <button [disabled]="!enableGoToSubmit" (click)="areYouSureSubmitYes()" type="button"
                class="btn btn-next">Submit
                <i class="fas fa-forward"></i></button>
            </div>
          </fieldset>
          <fieldset class="{{stepOn}}" [hidden]="stepOn != 4">
            <div class="alert alert-warning" role="alert">
              <p>
                <small>For registration of individuals as Company Secretaries :Rs 5,000.00</small>
              </p>
              <p>
                <small>Follow the guidelines to payment process</small>.</p>
            </div>
            <div class="f1-buttons">
              <button (click)="changeProgressStatuses(3)" type="button" class="btn btn-previous"><i
                  class="fas fa-backward"></i>
                Previous</button>
              <button type="button" class="btn btn-submit">PAY</button>
            </div>
          </fieldset>
        </form>
      </div>
      <div style="clear:both"></div>
      <br />
      <br />
    </div>
  </div>
</section>
<!--addd work history modal-->
<div class="float-center">
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ backdrop: true, ignoreBackdropClick: true }">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 font-weight-bold">Applicant Work History</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label f class="col col-form-label col-form-label-sm">Name of public or private sector body applicant
              has served
              <span class="req">*</span></label>
            <div class="col-sm-12">
              <input (change)="secretaryValidationStep3()" class="form-control form-control-sm" id="c_name"
                name="company_name" maxlength="50" [(ngModel)]="secretaryWorkHistory.companyName"
                placeholder="Name of the company">
              <span class="req-message">Valid name required</span>
            </div>
          </div>
          <div class="form-group row">
            <label f class="col-sm-3 col-form-label col-form-label-sm">Position held
              <span class="req">*</span></label>
            <div class="col-sm-12">
              <input (change)="secretaryValidationStep3()" pattern="[a-zA-Z ]*" class="form-control form-control-sm"
                id="p_name" name="position" maxlength="50" [(ngModel)]="secretaryWorkHistory.position"
                placeholder="Position held">
              <span class="req-message">Valid position required</span>
            </div>
          </div>
          <small>Please mention the period of service</small>
          <div class="form-group row">
            <div class="form-group col-md-3"><label class="col-form-label col-form-label-sm">From
                <span class="req">*</span></label>
              <input (input)="secretaryValidationStep3()" (change)="dateValidate('from');secretaryValidationStep3();"
                type="date" class="form-control form-control-sm" required id="from" name="from"
                [(ngModel)]="secretaryWorkHistory.from">
            </div>
            <div class="form-group col-md-3"><label class="col-form-label col-form-label-sm">To
                <span class="req">*</span></label>
              <input (input)="secretaryValidationStep3()" (change)="dateValidate('to');secretaryValidationStep3();"
                type="date" class="form-control form-control-sm" required id="to" name="to"
                [(ngModel)]="secretaryWorkHistory.to">
            </div>
          </div>
        </div>
        <div class="modal-footer" style="justify-content: flex-end">
          <button style="background-color: #bbb!important;" type="button" mdbBtn color="secondary"
            (click)="resetAddWorkHistory()" class="btn btn-previous" mdbWavesEffect>RESET</button>&nbsp;
          <button [disabled]="!enableWorkHistorySubmission" type="button" mdbBtn color="secondary"
            (click)="addWorkHistoryToArray(); secretaryValidationStep2(); secretaryValidationStep3(); frame.hide();"
            class="btn btn-sm relative waves-light add-new-work-his add-director" mdbWavesEffect>ADD</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="payment-success-wrapper pay-block-wrapper" *ngIf="blockBackToForm">
  <div class="payment-success-body">
    <div class="header">
      <h2>Are you sure want to proceed further?</h2>
    </div>
    <div class="body">
      <!-- <p>If yes, you will not be able to revert back.</p> -->
    </div>
    <div class="footer">
      <button class="btn btn-success" (click)="updateSecretaryData()">Yes</button>
      <button class="btn btn-danger" (click)="areYouSureNo()">No</button>
    </div>
  </div>
</div>
<div class="payment-success-wrapper pay-block-wrapper" *ngIf="blockSubmit">
  <div class="payment-success-body">
    <div class="header">
      <h2>Are you sure want to proceed further?</h2>
    </div>
    <div class="body">
      <p>If yes, you will not be able to revert back.</p>
    </div>
    <div class="footer">
      <button type="submit" class="btn btn-success" (click)="submit()">Yes</button>
      <button class="btn btn-danger" (click)="areYouSureSubmitNo()">No</button>
    </div>
  </div>
</div>