<section>
  <!-- <div class="top-margin">
    <div class="col-md-12 ">
      <app-horizontal-status-bar ></app-horizontal-status-bar>
    </div>
  </div> -->
  <!-- <div class="row bg-color mt-2">
    <div class="col-md-12 ">
      <app-horizontal-menu ></app-horizontal-menu>
    </div>
  </div> -->
  <div class="container-fluid-10 mb-5 top-margin">
    <div class="row">
      <div class="col-xl-3 col-lg-12">
        <app-vertical-menu></app-vertical-menu>
      </div>
      <div class="col-xl-9 col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
