<div class="d-flex justify-content-center top-margin">
  <div class="col-md-4 col-md-auto mt-5">
    <div class="card">
      <form (submit)="onSubmit()" [formGroup]="ResetLink">
        <div class="card-header text-center">
          <h3 class="font-weight-bold mt-2">FORGOT YOUR PASSCODE ?</h3>
        </div>
        <div class="card-body mx-3">
          <div class="form-group">
            <label>
              if you've forgotten your passcode. Enter your eRoc account email to receive a link allowing you to reset
              passcode.
            </label>
          </div>

          <div class="form-group">
            <input type="text" formControlName="email"  class="form-control" name="email" placeholder="E-mail" required>
            <div *ngIf="email.invalid && email.touched">
                <small *ngIf="email.errors['email']" class="red-text" >Please enter a valid email.</small>
                <small *ngIf="email.errors['required']" class="red-text" >Email is required.</small>
              </div>
          </div>

        </div>
        <div class="card-footer d-flex justify-content-center">
          <button [disabled]="ResetLink.invalid" type="submit" [ngClass]="{'disabled': ResetLink.invalid }"  class="button green">
            <i class="icon-material-outline-arrow-right-alt" *ngIf="ResetLink.valid"></i>
            REQUEST RESET
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
