<div class="d-flex justify-content-center top-margin">
  <div class="col-md-4 col-md-auto mt-5">
    <div class="card">
      <form (submit)="onSubmit()" [formGroup]="newPasswordForm">
        <div class="card-header text-center">
          <h3 class="font-weight-bold mt-2">{{ headerText }}</h3>
        </div>
        <div class="card-body mx-3">
          <div class="form-group">
            <label>
              Select your new Password and enter it below
            </label>
          </div>

          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$#!%*?&])[A-Za-z\d$@$#!%*?&]{8,}"
              formControlName="newPassword" uniquePassword autocomplete="off" class="form-control" id="newPassword"
              placeholder="New Password" required>
            <div *ngIf="newPassword.invalid && newPassword.touched">
              <small *ngIf="newPassword.errors['required']" class="red-text">New Password is required.</small>
              <small *ngIf="newPassword.errors['uniquePassword']" class="red-text">Your current password does not
                matches with the password you provided. Please try again.</small>
              <small class="red-text">Your password must be over 8 characters and include an uppercase and a lowercase
                letter, a number and a special character</small>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" formControlName="confirmpassword" autocomplete="off" class="form-control" id="confirmpassword"
              placeholder="Confirm Password" required>
            <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
              <small *ngIf="confirmpassword.errors['required']" class="red-text">Confirm Password is required.</small>
              <small *ngIf="confirmpassword.errors['compare']" class="red-text">Confirm Password does not match</small>
            </div>
          </div>

        </div>
        <div class="card-footer d-flex justify-content-center">
          <!-- [ngClass]="{'disabled': newPasswordForm.invalid }"   -->
          <button type="submit" class="button green" *ngIf="sp === 'uir'">
            Create Password
          </button>
          <button type="submit" class="button green" *ngIf="sp !== 'uir'">
            Set Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
